[2020-05-06 09:12] panarch opened #7 "MemoryStorage support"
Currently the only supported storage is `SledStorage`.
But it can't be built for `Web`.

So, make the `MemoryStorage` and use it for WebAssembly build.

[2020-05-06 09:18] panarch opened #8 "Fix `blend.rs` to support Join"
1. Current `blend.rs` does not support `Join` queries.
It only takes the first node of `BlendContext` linked list, but it should handle all properly.

2. And I also need to some kind of `macro` for helping value comparison test.
There's an example in `basic.rs`.
[code]
Make a macro to shorten and readify this: `Payload::Select(vec![Row(vec![Value::I64(1)])])`.

[2020-05-06 09:20] panarch opened #9 "Arithmetic operator support"
For example,
`UPDATE TableA SET v1 = v1 + 1` is not supported because current `GlueSQL` does not support this arithmetic operator.
Let's make it.

[2020-05-06 09:28] panarch opened #10 "Add more types to Value"
[code]

Now `GlueSQL` only has 2 value types.
Let's add two more types,
* `Bool(bool)`
* `Real(f64)`

Then It looks enough for the first release.

[2020-05-06 09:35] panarch opened #11 "COUNT, MIN, MAX, SUM supports"
* COUNT
* MIN
* MAX
* SUM

Let's get it.

[2020-05-06 09:36] panarch opened #12 "GROUP BY and HAVING support"
Comparing to `Join`, it's just a simple task.
Let's implement it before the first release!

[2020-05-08 14:16] panarch opened #13 "NULLABLE field support"
`NULLABLE` should be supported in the first release.
👍

Allow Nullable keyword in `CREATE` and apply to `Value` and join works.

[2020-05-18 09:37] #9 closed, assigned to panarch

[2020-05-18 09:53] panarch opened #14 "Specify rule for UpdateError::ConflictOnSchema like errors"
There are now 3 errors types.
1. Logical error
2. Unreachable error (e.g. from `nom-sql`)
3. Unreachable but generated by `GlueSQL` itself.

Currently I'm using `Unreachable` prefix for the second case.
And how about 3?
Maybe `Conflict` prefix?

[2020-05-29 09:34] panarch opened #16 "Arithmetic operator support in blend.rs"
[code]

This kind of query above should be supported!

[2020-05-29 09:43] panarch opened #17 "Replace sql parser from nom-sql to sqlparser-rs"
Use this,
https://github.com/andygrove/sqlparser-rs

[2020-05-30 12:19] #8 closed, assigned to panarch

[2020-06-27 17:59] #17 closed, assigned to panarch

[2020-07-06 04:47] #10 closed, assigned to panarch

[2020-07-08 05:06] #16 closed, assigned to panarch

[2020-07-09 04:20] #13 closed, assigned to panarch

[2020-07-15 16:45] panarch opened #24 "DROP TABLE query support"
[code]

[2020-07-16 04:12] #24 closed, assigned to panarch

[2020-07-19 14:02] #11 closed, assigned to panarch

[2020-07-19 16:59] panarch opened #27 "WebAssembly build"
After finishing #7
Make WebAssembly build and test using MemoryStorage.

It's required to make JavaScript interface. 🔢

[2020-07-19 17:00] panarch opened #28 "AVG aggregation support"
But after the first release

[2020-07-25 03:06] #7 closed, assigned to panarch

[2020-08-06 12:32] #27 closed, assigned to panarch

[2020-08-08 15:50] panarch opened #31 "Value::I64(100) == Value::OptI64(Some(100)) but..."
[code]
`PartialEq` for `Value` must be implemented manually, but for now, it is applied by using `#[derive(PartialEq)]`

[2020-08-08 15:52] panarch opened #32 "Single quoted string is not accepted"
[code]

`"asdf"` works but `'asdf'` is not accepted which should be not a problem at all.

[2020-08-08 16:49] panarch opened #33 "Current aggregation functions are case-sensitive"
[code]

both should work but the second one is not working.

[2020-08-11 08:25] #33 closed

[2020-08-13 06:26] #32 closed

[2020-08-13 06:29] #31 closed

[2020-08-16 16:13] panarch opened #36 "Fail to find table alias to blend in SELECT + JOIN query"
[code]
Above 2 queries work but,
[code]
This one fails.
`[ERR] { "Blend": { "TableNotFound": "item" } }`
Blend failed to find table alias.

[2020-08-16 16:17] panarch commented on #36
[code]
Only `u2.*` is executed and both `item.*` and `user.*` fails with a same error.
`[ERR] { "Blend": { "TableNotFound": "{table alias}" } }`

[2020-08-16 16:37] #36 closed

[2020-08-24 17:28] panarch opened #38 "Cannot insert null to nullable text type field"
![image](https://user-images.githubusercontent.com/2025065/91076413-6ef26780-e67a-11ea-9f01-cf2010f3c39a.png)

In `src/data/value.rs`,
![image](https://user-images.githubusercontent.com/2025065/91076423-74e84880-e67a-11ea-856d-242163093608.png)

current `from_data_type` function is not handling String type, unit test required

[2020-08-24 17:45] panarch opened #39 "Row-unreachable occurs"
[code]

Then error occurs on insert query.
[code]

It is reachable but unreachable!

[2020-08-25 04:35] #38 closed

[2020-08-25 05:17] #39 closed

[2020-08-26 08:14] panarch opened #42 "SELECT 1 FROM Test; not working"
[code]
Above works, but...

[code]
This doesn't work with this error `[Blend Error] "FieldDefinitionNotSupported"`

[2020-08-27 12:00] D1plo1d opened #44 "MVCC Transactions Support"
I can only imagine how large a feature this is but I wanted to put it out there. MVCC Transaction support would empower developer's to prevent reading and writing inconsistent data to gluesql.

I'm guessing however that this is currently blocked on Sled's lack of transactional scan support inside TransactionTrees(?)

[2020-08-27 16:20] panarch commented on #44
Ok, in case of sled, you're right. currently sled does not support scan in transaction.
And for now, GlueSQL also does not have transaction feature support yet.
I hope that they implement it not in too late

`Transaction` will be provided as a trait, like existing 2 store traits: `Store` and `StoreMut`.

And precisely, MVCC Transaction is may be a role of storage layer not execution layer which gl

[2020-08-27 19:16] PatatasDelPapa opened #45 "Clarify the use imports in the readme"
In the Usage Section it would be better to explicitly put all imports necesary instead of the glob imports as they tend to hurt readability.

[2020-08-27 21:45] MichaelMcDonnell opened #46 "CLI interface"
Is a command line interface planned? I liked playing around with the web interface but there doesn't seem to be something equivalent for the terminal?

[2020-08-28 02:17] panarch commented on #45
Ok, that sounds good :) I just updated, thanks!

[2020-08-28 02:17] #45 closed

[2020-08-28 08:15] panarch commented on #46
I have a plan but I may use a separate repository, but it might take some time to work on cli task.
For now, you can expect same SQL support between Rust crate and web version.
Though they use different storages, they all pass same integration test cases so you can think as same at least about functionality.

[2020-08-28 08:37] #42 closed

[2020-08-28 08:57] panarch opened #49 "BETWEEN support"
[code]

[2020-08-28 09:08] panarch opened #50 "IS NULL, IS NOT NULL support"
[code]

[2020-08-28 12:12] panarch opened #51 "ALTER TABLE support"
There exists two store traits: `Store` and `StoreMut`.

Plan is adding new `Alter` store trait, but this time, `Alter` trait will be optional.

Provide 3 SQL statements
* ADD COLUMN
* DROP COLUMN
* RENAME COLUMN

[2020-08-28 12:24] panarch opened #52 "Remove panic! uses in evaluated.rs"
[src/executor/evaluate/evaluated.rs](https://github.com/gluesql/gluesql/blob/main/src/executor/evaluate/evaluated.rs)

There are a few `panic!()` uses in `evaluated.rs`.
I used `panic!()` because currently there's no way to reach that branches.
But it's better not to use panic, replace those to managed unreachable error types.

[2020-08-28 14:34] panarch opened #53 "CREATE TABLE IF NOT EXISTS support"
`IF NOT EXISTS` syntax is not supported yet.
Let's make it work.

[2020-08-29 05:04] panarch opened #55 "Replace "Context" data structure from LinkedList to Vector"
GlueSQL fetches data and convert each row into struct named `Context`.

`FilterContext` contains the row from join and nested select.
`BlendContext` does similar role but it does not need to include nested selected row on `where` clause.

Currently linked list is used but it's better to replace those into vector.
Linked list assumes that total number of items are not predictable, but in this case,

[2020-09-02 09:37] leoppro commented on #50
Could I implement it this weekend?

[2020-09-02 14:27] panarch commented on #50
Sure 👍 I'm really pleased that you get interested on contribution.
For the first contribution, here are some info good to know at beginning.

* In case of expanding SQL supports, you need to be familiar with [sqlparser-rs](https://github.com/ballista-compute/sqlparser-rs) which is the parser GlueSQL depends on.
Mainly you need to look at will be `ast/*`, and in this case, it would be `enum Expr` i

[2020-09-03 14:14] ryanhossain9797 commented on #49
Hey, Can I pick this one up?
I'm actually partly done, but not sure where I should put the tests for it

[2020-09-03 18:38] ryanhossain9797 commented on #49
Made a PR for this #56

[2020-09-04 08:56] panarch commented on #53
It is expected to add `src/tests/create_table.rs`.

[2020-09-04 09:01] panarch opened #57 "Add filter.rs integration test cases"
related to https://github.com/gluesql/gluesql/pull/56

There doesn't exist place for adding conditional statement tests cases which are used in `WHERE` clause.
It's obviously better to have, let's add `src/tests/filter.rs`, like `blend`.

`filter.rs` check_expr function is stateless, so we can easily add test cases to reach all possible branches.

It would be good to start from renaming `src/tests

[2020-09-04 09:37] #49 closed

[2020-09-04 12:00] joseluis opened #58 "think about adding github releases"
It would be very nice for people like me who would like to be notified about version updates, without necessarily having to be notified about issues and PRs :smiling_face_with_three_hearts:

[2020-09-05 05:01] leoppro commented on #53
Hi, could I pick this up?

[2020-09-05 08:40] panarch opened #61 "Add Evaluated enum doc comments"
https://github.com/gluesql/gluesql/pull/59

enum `Evaluated` can be quite confusing for newcomers, it's required to have some explanation of this.
Use source code doc comments feature.

Then, someone wants to contributor can see that in source code or by `cargo doc --document-private-items`.

[2020-09-05 08:58] panarch commented on #53
Sure! 👍

[2020-09-05 09:02] panarch commented on #58
That sounds good. Thanks for letting me know, I'll also figure out how to add github action to automate `release` task.
I'm currently planning to bump version after I finish https://github.com/gluesql/gluesql/issues/12
For next versions, I'll use github releases.
Thanks!

[2020-09-06 03:05] leoppro commented on #53
Hi, @panarch.
Through testing and reading the source code, I have found that the current behavior for creating tables is as follows:

 - When Table A does not exist, Table A is created and the result is successful.
 - When Table A already exists, create Table A. The result is successful and the old Table A will be overwritten.
 - The `IF NOT EXISTS` keyword will be ignored and will not work.

So I

[2020-09-06 07:55] panarch commented on #53
* When Table A already exists, create Table A. The result is successful and the old Table A will be overwritten.
This is obviously... yes it's a bug.
I'm totally for your implementation plan.
It's time to make a new friend to lonely `StoreError::SchemaNotFound`. 😀

And about transaction issue, you're right.
`INSERT` query also has a same issue, because it also requires `Store::fetch_schema` first.

[2020-09-06 08:59] ryanhossain9797 commented on #53
Hey,

Are you sure about this behavior? From my experience, Create Table on an Existing Table does absolutely nothing at all. It doesn't harm the existing table either.

What I tested is
- Create TableA
- Insert 3 Rows
- Create TableA
- Insert 2 Rows
- Select * From TableA

Got 5 rows back

[2020-09-06 09:11] panarch commented on #53
No, that's certainly bug which must be fixed.
I also found this before but I forgot to add on issue stack.
In case of expected behavior, I have exactly same idea with you.

[2020-09-06 09:13] leoppro commented on #53
You can try to create two tables with the same name but different structures, like:

[2020-09-06 09:20] panarch commented on #53
Correct behavior can be this
[code]

Current one has a bug.

[2020-09-06 09:26] leoppro commented on #53
That's right. I will fix it.

[2020-09-06 09:26] ryanhossain9797 commented on #53
Another thing I see

Returns 2 rows, so the rows from the overwritten tables are still being counted

[2020-09-06 09:42] panarch opened #62 "INSERT with more values is accepted"
[code]

below insertion query should report an error but it is accepted.
* [src/data/row.rs](https://github.com/gluesql/gluesql/blob/main/src/data/row.rs)

Current `Row` struct cares lack of values or columns but not handling more values properly.

[2020-09-06 09:44] panarch commented on #53
@leoppro Yup, that's also a bug.
I added this to current issue stack. [Issue #62](https://github.com/gluesql/gluesql/issues/62)

[2020-09-06 10:20] panarch opened #63 "RIGHT [OUTER] JOIN support"
For now, GlueSQL supports 2 join types, `INNER JOIN` and `LEFT OUTER JOIN`.
`RIGHT OUTER JOIN` Implementation can be a bit more tough, but all modifications required to change is in a single file, 198 lines of codes.
* [src/executor/join.rs](https://github.com/gluesql/gluesql/blob/main/src/executor/join.rs)

It can be a sort of quite fun programming quiz.

[2020-09-06 10:20] #50 closed

[2020-09-06 11:24] panarch opened #64 "NULL + 1 should be NULL"
https://github.com/gluesql/gluesql/pull/59#issuecomment-687709531

Current:
`NULL + 1 => 1`

Expected:
`NULL + 1 => NULL`

[2020-09-09 00:57] phrohdoh opened #65 "question: is array support planned?"
Apologies if you've covered this somewhere already, or if this ought to be asked of `sled`, but are [arrays] planned?

[arrays]: https://www.postgresql.org/docs/current/arrays.html

[2020-09-09 05:00] panarch commented on #65
Here is the place to ask, you chose the right one.

That sounds interesting, it can be supported in someday but not expected in near future.
Until GlueSQL supports foreign key, transaction and index, I'll focus on implementing that core functions.
After that I can consider it or someone who gets interested on this issue can participate at any time.
I'll not close this issue and leave for some othe

[2020-09-09 12:29] panarch opened #66 "Inserting multiple values"
Currently, GlueSQL support only single value insertion for `INSERT` query.
[code]

This issue is for supporting multiple value insertion using single INSERT query, like this below:
[code]

[2020-09-13 06:45] #64 closed

[2020-09-14 06:14] panarch opened #70 "Chainging return type of `INSERT`"
Current
[code]

Expected
[code]

Let's simply return a number of inserted rows.

[2020-09-14 07:41] #66 closed

[2020-09-14 07:51] panarch commented on #70
I linked the wrong issue, not #68, it is related to #69.

[2020-09-14 11:01] panarch opened #72 "Change return type of Store trait insert_data"
It also requires storage code changes.
one in here, `sled_storage`.
The others are in [gluesql-js](https://github.com/gluesql/gluesql-js) : memory-storage and web-storage.

Prior work is done by @ryanhossain9797
https://github.com/gluesql/gluesql/issues/70

[2020-09-14 11:01] #70 closed

[2020-09-18 09:20] willy610 opened #73 "Testdata from file and/or stdin"
Love this project.
Have a lot of sql database dumps I want to have for verification
A separate bin project can't refer to locally libraries.

But a rough approach is to introduce tests for loading sql from a file instead of inline strings

Give me a hint where to start in my downloaded glusql-main

[2020-09-18 16:44] panarch commented on #73
Thanks!

This sounds really good, I agree that running tests from files can be certainly useful when we consider to run other database's sql test cases for verification.

For the beginning, it would be good to see [examples/api_usage.rs](https://github.com/gluesql/gluesql/blob/main/examples/api_usage.rs)

It would be good to add a new example code which loads sql file and runs.

[2020-09-18 20:59] willy610 commented on #73
I work like an anarchist for a moment. Off group.
Align later on in some way, if it suites you

(The published gluesql = { version = "0.1.15", features = ["sled-storage"] } is not the same as what's committed on the project,
alright? So there is no multi line insert and others I need when importing more volumes)

So I stick to the downloaded source and will try to add test case for file load.

By

[2020-09-19 05:01] panarch commented on #73
That sounds good,
Yes that's true, after "0.1.15" released, there were lots of improvements newly made, thanks to @ryanhossain9797 and @leoppro
New version release is required but I didn't do that yet.

I was planning to release "0.1.16" after I add `GROUP BY` supports and I estimated `GROUP BY` issue as a single week one.
But.... it took quite a long more, so that's the reason of this delay.
I'll

[2020-09-19 05:06] panarch opened #75 "DEFAULT column attribute support for CREATE TABLE"
[code]

For now, create sql query is accepted but not working.
Modification in [row.rs](https://github.com/gluesql/gluesql/blob/main/src/data/row.rs) is required.

[2020-09-19 09:27] willy610 opened #76 "'SingleQuotedString' is not accepted in inserts"
Problem with insert of text.

Insert into  tableA values ("WORKS BUT NOT STANDARD" , 'STANDARD BUT IS NOT ACCEPTED');

Most exports from other databases uses SingleQuotedString. More Standard SQL.

Seems like expressions with SingleQuotedString works

[2020-09-19 14:07] willy610 opened #77 "Valid Columntypes not checked at CREATE TABLE"
CREATE TABLE foolish (first INTEGER, second ANYTHING_ACCEPTED);

Perhaps
Checks in execute.rs
fn prepare
and match Statement::CreateTable { name, columns, .. }

[2020-09-20 09:34] willy610 opened #78 "ORDER BY support"
Hej,

Sorry for all issues. Not complaining. Love the SQL and in Rust!

But browsing into my swedish testdabase on recipes and it's categories
the output is not ordered on column 2.

(We have the same sort order in Swedish as in any Latin-1 countries)

"select * from category where categoryid > 50 order by 2;"
53	"Fläskkött"	""
54	"Vegetarisk"	""
55	"Pastej"	""
56	"Gratäng"	""
57	"Finskt"	""
58	"K

[2020-09-20 10:28] willy610 opened #79 "Enhance programmer methods on Select result"
Have made some programming around select.
It's a little bit complicated and column names is missing I think.

In order to make glusql competitive to JS, sqlite, PHP and more
I think something like the following is required
Some kind of Displayselected instead od Selected
The outermost SELECT could get this result.
But of course  not for an INSERT .. SELECT ...

1. Column names
2. Simplified enums

[2020-09-20 14:57] panarch commented on #77
Thanks for reporting!
Currently, GlueSQL executor simply accept any kind of `Statement::CreateTable` enum from `sqlparser-rs`.

And it also looks... give us how to implement this kind of validation.
Maybe it's time to add a new module? `validator/`.

[2020-09-20 15:26] panarch commented on #78
That's welcome at all, and I'm so pleased about your reportings.

Let's simply rename this issue to "ORDER BY support"

`ORDER BY` is a type of query which may work best with index, but it still requires to work without index, too.
This issue is implementing `ORDER BY` without considering indexing stuff.

[2020-09-20 15:34] panarch commented on #79
1. Column names
This is right thing GlueSQL should have.
But at the same time, it is not related feature with execution layer.
Fetching column names can be simply done by handling parsed sql AST.
It would be good to add a new module in `src/` to handle this kind of work.

2. Simplified enums on cell values
I'm not sure whether this simplified enums are required in this repo or not.

I think this i

[2020-09-20 21:29] willy610 commented on #79
I had a gluesql-rust in mind also.
That is a good interface for an application programmer (like me...)
Look into both gluesql-js and convert.rs

And column names.. Look into that more and make an issue.

Nice coding by the way in convert.rs. And other

Will try make some experiments around a gluesql-rust.rs !!

[2020-09-20 21:45] willy610 opened #80 "Column names in Select results"
Have made some programming around select in Rust
It's a little bit complicated and column names is missing I think.

In order to make gluesql competitive to (sqlite and mysql and more ) using (JS, C/C++, PHP, Java and more)
I think something like the following is required for Rust at least
(and C using gluesql. wow!)

1. Array of column names on payload

A: Usage is: iter over colnames in order to

[2020-09-21 07:28] #79 closed

[2020-09-21 07:29] panarch commented on #80
Related to https://github.com/gluesql/gluesql/issues/79

Interface would be like this,
[code]

[2020-09-21 09:00] #12 closed

[2020-09-21 10:00] willy610 commented on #76
I have tested/verified  corrections on a cloned repos.

How to proceed?

Create a new Branch?

Or await something from the community ?

[2020-09-21 10:22] willy610 commented on #80
What about named columns in select
Missing ('select: Blend(FieldDefinitionNotSupported)')
Separate issue?

[2020-09-21 15:34] panarch commented on #80
That looks different one, can you also share the sql query you executed?

[2020-09-21 15:41] panarch commented on #76
You can fork this repository and then GitHub will make cloned repository, url may become https://github.com/willy610/gluesql
Then, work on that cloned repo. After that you can make pull request to this main repo, then I can review your code change.

This process is based on GitHub, so if you are familiar with git but not GitHub, then you may spend some time to get used to it.

* https://docs.githu

[2020-09-21 16:12] willy610 commented on #80
Of cource

modified last test in basics.rs
adding AS on a column

SELECT id AS SOMEALIASCOLUMNNAME, num FROM Test

cargo test --all-features
…
[Run] SELECT id AS SOMEALIASCOLUMNNAME, num FROM Test
thread 'basic' panicked at 'select: Blend(FieldDefinitionNotSupported)', /Users/willy/Documents/GitHub/gluesql/src/tests/basic.rs:43:79

Kindly,
willy

-----------------------------
Willy Svenningsson
Jo

[2020-09-21 16:45] panarch commented on #80
@willy610 Thanks! this is different issue but also required to support.
Thanks for reporting and I'll add via another issue.

[2020-09-21 16:48] panarch opened #82 "SELECT foo AS bar ... support,"
mentioned in https://github.com/gluesql/gluesql/issues/80

[code]

Current [blend.rs](https://github.com/gluesql/gluesql/blob/main/src/executor/blend.rs) is not handling `AS`.
Simple fix, `blend` does not need to work on `AS` at all, just ignore `AS` and simply evaluate column expression.

[2020-09-22 19:22] willy610 commented on #73
It's a pitty column expression and table expression can't be named and referenced

#80, #82

[2020-09-23 02:57] panarch commented on #80
input:
[code]

output:
[code]

[2020-09-23 02:58] panarch commented on #73
@willy610 That issues don't mean that table expressions can't be named and referenced, it is still possible.

* #82 is an independent issue.
* #80 is a prior issue for providing name & reference functions.

[2020-09-23 03:24] panarch opened #83 "Getting SELECT projection aliases"
Related to #80 - due to long threads, it's hard to recognize what exact task is, so let's use this issue.

input:
[code]
output:
[code]

This issue is adding a new function `get_projection_aliases` to `src/parse.rs` which takes `sqlparser::ast::Query` reference and return column aliases, `Vec<String>`

[code]

[2020-09-23 03:25] panarch commented on #80
Ok, let's use this issue #83

[2020-09-23 03:25] #80 closed

[2020-09-23 10:26] willy610 commented on #83
Great!
But if the column has no as
and is not a ```SelectItem::UnnamedExpression::Ident```
one must probably generate a name like 'column_2'
Or generate a name whatever the expression is like 'SUM(id)'

I think MySQL just make a string of the expression

[2020-09-24 07:12] panarch commented on #58
@joseluis I released v0.1.16 to GitHub release, now you can see the changes between versions easily. 👍

[2020-09-24 07:12] #58 closed

[2020-09-24 12:08] #61 closed

[2020-09-25 08:19] #72 closed

[2020-09-29 08:04] willy610 commented on #76
It seems like the bug remains in the latest issue version = "0.1.16"

[2020-09-29 08:18] willy610 commented on #83
The suggested function ```get_projection_aliases``` can't be located in ```src/parse.rs```

The type ```Query``` will be redefined.

I also discovered that all information is not present in the Ast

I'm at the moment working on adding projections names to the ```Payload::Select(projnames...,rows...)``

The content is produced in ```executor/select.rs```

Works nice sofar

[code]

[2020-09-29 10:16] panarch commented on #83
@willy610 I don't get the point you mentioned, "all information is not present in the Ast".
You have any example sql for that?
`SELECT categoryid, Count(*) FROM ...` is obviously fetched only with AST, execution is not required.

[2020-09-29 11:33] willy610 commented on #83
Everything with wildards need to be resolved at execution I think

[code]

[code]

Like
[code]

and

[code]

[2020-09-29 11:38] willy610 commented on #83
Here we go with some code from executor/select.rs
[code]

[2020-09-29 13:25] panarch commented on #83
Oh, I totally ignored `Wildcard`!
Thanks for providing sql example.
Your point is right, `select` function needs to return `Vec<Row>` with projection aliases.

I'll remove "good first issue" label, it looks certainly more than simple task.

If you are interested on taking this issue, you need to be aware of a few things.
* No `mut` uses are allowed in execution layer.
* Avoiding unnecessary string

[2020-09-29 13:26] panarch commented on #76
Yes, because no one takes this issue yet.
If you'd like to do this then you can add PR and I'll review and merge.

[2020-09-29 14:05] willy610 commented on #83
I can take this issue.
With awareness !!
It's only the outermost/final selection-projection which actually is required!
At the moment select-projection produces column-names

[2020-09-30 11:35] willy610 commented on #82
Seems to having a solution in blend.rs as said above.
On both indents and expressions

[code]

[code]

[2020-10-02 11:06] willy610 commented on #83
Made an horrible - I think - recursive solution in ``src/executor/select.rs``without ``mut``

...assuming ``mut`` is not allowed in ``src/executor/``

But what do you mean with

- No ``mut`` uses are allowed in execution layer.

Is it a folder (like executor) ?

Is it ok to use ``src/utils/vector.rs`` as a mutabel collector?

In for example in a  revisted ``src/executor/join.rs`` on ``RIGHT JOIN``

[2020-10-02 12:39] willy610 commented on #63
I have an implementation on join (all kinds (outer,inner,left and right)) in both ``Mathematica`` and ``Javascript``

They could work on ordered input or not.
I would like to try to implement that in Rust.

I hope someone is not at the moment working in ``join.rs``

In any case the solution today is slow

[2020-10-03 08:52] panarch commented on #83
That's a good point. At first, you can wrap `std Vec` using `src/utils/vector.rs`.
Now allowing `mut` policy is making `GlueSQL` project code promising, so it does not care whatever other dependency is implemented.
Only important thing is that dependency is promising enough, so I think we can simply depend on `std Vec`.
But as you see, std vector does not provide immutable apis, so I simply wrappe

[2020-10-03 09:02] panarch commented on #63
Sounds good, then I'll assign you on this issue.

[2020-10-03 12:45] willy610 commented on #83
Thanks a lot!

[2020-10-06 05:07] #62 closed

[2020-10-07 17:09] willy610 commented on #63
Some feedback

Have a working joiner now.
Left, right, inner, outer etc
(Sofar 242 lines!!)

Slightly prepared for using future existing ordered indexes...

Some notes/question and/or suggestions

1. In the ``select.rs`` perhaps one should introduce a ``'from'`` function
replacing all join stuff in ``select.rs`` and perform all tasks in the ``'from' (TableWithJoins)``
And of cource ``join.rs`` bec

[2020-10-08 06:09] panarch commented on #63
I think I don't get it, can you provide more details about `from` function suggestion?
It sounds like similar with current structs named `BlendContext`, `FilterContext` and `AggregateContext`.

[2020-10-08 10:33] willy610 commented on #63
I will look more into the design pattern Context.
It is complicated I think but powerful.

I'll be back

[2020-10-08 13:41] panarch commented on #75
In #51 , ADD COLUMN requires `DEFAULT` support when adding not null column.

[2020-10-10 08:51] #75 closed

[2020-10-12 05:37] #51 closed

[2020-10-12 22:01] willy610 commented on #63
Well, I think I have come out with a working solution a from component.
The new ``from.fetchblended()`` will do the complete join of 0..n tables
so the old ``join`` will be replaced.
But
When removing the ``join`` step I got problem in the ``aggregate`` step
Please anyone help me.

In the ``executor/select.rs`` the old fragment looks like
[code]

In that part as above I remove the ``join`` thing.

[2020-10-14 06:40] panarch opened #94 "Apply trait alias to optional store traits"
Though some custom storages don't need ALTER TABLE syntaxes, they still need to add it.
[code]
It looks unnecessary but required.

In `execute.rs`,
[code]

If trait alias feature ships on stable Rust then, we can improve the code above like this.

[code]

It is blocked by this issue: https://github.com/rust-lang/rust/issues/41517
Looking forward to see trait alias in stable Rust.

[2020-10-17 12:43] panarch commented on #63
It is little hard to follow, compile error looks simple which is about type conflict one is `Rc<BlendContext<_>>`, the other is `BlendContext<_>`
And whatever changes you make, `cargo test` will verify it's acceptable or not.

It would be good to call `cargo test` frequently during you make code changes.
Now I'm not sure but you look you start by changing to many codes.

[2020-10-18 03:56] #82 closed

[2020-10-19 09:26] willy610 commented on #63
1. Well I will wind up the question myself as time goes by, I think.
2.1 I really rely on ``cargo test`` . Very safely
2.2 I do have my own ``cargo test --bin integrationtestN`` too
3. Yes. "...start by changing to many codes changes".
I think I manage to schedule the suggested changes..

I did some mistake in the GitHub desktop yes but
I work of course on copies of the my fork.
Focus is now on ``

[2020-10-19 11:17] panarch commented on #63
I don't worry any of your skills at all. Though there can be some communication issues, I think that's not a big deal.
While I was keeping eye on your changes, I found `Context` can be too unnecessarily complicated.
I thought it might really bother you to understand internal code logic.

I did some work https://github.com/gluesql/gluesql/pull/100
I simply removed `UnionContext` and `Context` in `b

[2020-10-19 11:39] panarch commented on #55
Now it does not look make sense.
Data structure used in `Context` may be more close to tree, not list.

[2020-10-19 11:39] #55 closed

[2020-10-23 04:06] panarch opened #101 "Plus(+) & Minus(-) signs support in WHERE"
Following `WHERE` clauses are not supported now.

[code]

Proper place to add test cases would be in `src/tests/filter.rs`.

[2020-10-23 04:22] yejihan-dev commented on #101
I would like to work on this issue :)

[2020-10-23 06:45] panarch opened #102 "UPPER & LOWER function support"
Currently there is no support for non-aggregating functions.

`UPPER("asdfS") -> "ASDFS"` can be a first example of this non-aggregating function.

[2020-10-23 06:48] panarch commented on #57
This is too broad, closing.

[2020-10-23 06:48] #57 closed

[2020-10-24 07:27] #83 closed

[2020-10-24 09:37] willy610 commented on #76
In ``glusql-main-3`` literals with SingleQuotedString is accepted but nothing is stored.
Works fine with double quote.
Perhaps some unit tests is to be introducde in ``/tests/basic.rs``

``INSERT INTO Test (id, num, name) VALUES (1,2,'Job'):``

``INSERT INTO Test (id, num, name) VALUES ;``

[2020-10-24 09:40] willy610 commented on #76
Of cource should be with escaped strings

``INSERT INTO Test (id, num, name) VALUES (3,4,'Job''s Macintosh');``

[2020-10-26 04:30] #53 closed

[2020-10-26 05:35] panarch opened #105 "UNIQUE constraint support in CREATE TABLE"
[code]

When executing `INSERT` and `UPDATE`, this `UNIQUE` constraint should be checked.

[2020-10-28 10:39] willy610 commented on #63
Just for the record.
Working like an idiot.
Challenge. No row copy, clone etc.
Complex work but fun

[2020-10-28 14:13] panarch commented on #63
I completely agree.

[2020-11-02 07:36] #101 closed

[2020-11-03 05:50] #102 closed

[2020-11-03 23:23] willy610 commented on #63
I have been working on a copy of ``gluesql-main-3``

Some points.
1. One source called ``executor/from.rs`` on like 650 loc
2. Used in ``executor/selct.rs`` through
`` let _the_from = From::new(storage, &table_with_joins).compile().execute();``
3. Struggling with letting ``_the_from`` giving an proper iterator via ``_the_form.fetch_blended()``
4. Executes all statements in unit test besides
  4.1

[2020-11-04 05:24] panarch commented on #63
This kind of queries are quite common, some complex join conditions can be replaced by `WHERE` but some cannot.

Currently GlueSQL does not support primary key feature, after that it will become possible, but not for now.

You can work on natural join by making a different issue, this is for implementing right join. So this should only include right join related codes.

If there exists special rea

[2020-11-04 12:14] willy610 commented on #63
Thanks for your comments.
Will look into RIGHT JOIN.

[2020-11-06 16:59] panarch opened #113 "async support for Store traits"
Current store traits don't support `async`, but it is obviously better to have it.

Who wants to implement a custom storage based on `Future`, they will be able to make it and..
Thanks to Rust's zero-cost future, custom storages which they don't need `Future` can simply ignore it and don't need to worry about performance loss.

I'm currently working on `async-store-api` branch - https://github.com

[2020-11-08 15:15] willy610 commented on #63
Perhaps this could be a solution in a nusthell

Use but refine the fold inside ``excutor/join.rs`` to work with a local ``fn proj_prod(outer_rows,inner_rows``) and invoke with either
+ ``proj_prod(outer_rows,inner_rows);``

or (swapped)

+ ``proj_prod(inner_rows,outer_rows);``

and swap result if in the last call type.

Then combine the two result row bags into a new row bag to feed fold with.

Of

[2020-11-15 16:01] #113 closed

[2020-11-15 16:02] panarch commented on #73
This is too far to think at this time.
Let's make it again when we can consider more details.

[2020-11-15 16:02] #73 closed

[2020-11-23 04:58] KyGost opened #118 "Indexing"
Hi--

Indexing is a crucial trait for any big data set and is generally something that helps performance.
At the moment I can't see any form of indexing for GlueSQL and my queries seem to run through the *entire* database (which is terribly slow); has anyone been looking at indexing?

If not, perhaps I can give it a bit of a go. Could someone point me in the direction of how I might get started in

[2020-11-23 05:20] panarch commented on #118
That's right, currently GlueSQL does not have indexing feature.

It is one of remaining big core sql functionalities which needs to be supported,
* Transaction
* Foreign Key
* Index

Index is surely on the plan to implement, and if you have interest on contribution then we can reach the goal quite faster :)
I'm so glad that you tried using GlueSQL, and I'll help you to figure out.

* https://disco

[2020-11-23 05:28] KyGost opened #119 "INSERT INTO SELECT Support"
Similar to my overall message in #118.

Example:
[code]

Is this functionality in progress? If not, how might I be able to help?

[2020-11-23 05:32] KyGost commented on #118
Sounds good. Thanks for the link :-)

[2020-11-23 05:59] panarch commented on #119
Currently this query is not supported yet. Anyone can participate on this issue, I'll leave it open with enhancement label.
This would be quite more simple than implementing indexing.

[2020-11-23 12:14] willy610 commented on #46
hej folks.
Just made some kind of console application built on ``gluesql  = {version="0.3"}`` or later of cource. Not on the project source. ok.

It's not present at GitHub yet. Trademarks, maintain, could be separate repository as a sister to gluesql.
It's called abc_sql at the moment to avoid any interferences with gluesql

It has the following poor help
[code]

Create db, import of sql scripts,

[2020-11-23 15:13] KyGost commented on #119
Done in #120

[2020-11-23 15:13] #119 closed

[2020-11-23 16:59] Redblueflame commented on #118
I can help on the indexing part.
But before even starting to do anything, I have some questions on how you want the indexes to work, to make it consistent for both developers & back-ends implementations.
The current propositions (with its pros and cons)

### Create a schema using the currently implemented functions
When creating an index, create a custom table with the indexed field as primary, an

[2020-11-23 18:20] willy610 commented on #118
Did some work one meta_tables. Might be useful for index design.

Indextype could be, I think
1. primary (implicit unique)
2. unique (and ordered as option)
3. ordered

Perhaps multicolumn index should/could be built using single column index.

What about temporary index on the fly, if no ordered indexes are available.
 Would speed up joins significant

![modell](https://user-images.githubusercont

[2020-11-23 19:36] Redblueflame commented on #118
@willy610 The unique is pretty interesting and could be useful in our case.
But if we are using a BTree for that (allows us to reduce greatly the search time on indexed fields), the ordered part will be a little bit more difficult, and even more if we stick to the 1 file database.

If you want to tale more about it, I'll be better to do so on the discord server, available here: https://discord.gg/

[2020-11-23 19:59] Redblueflame opened #121 "Add support for DateTime type"
(Please note this is not really needed, but would be great on the way of more support of the SQL standard)

The DATETIME type allows for easy management of time data.

Things to do:

- [ ] Choose a way to store it in the database as raw data (The millis standard could be useful)
- [ ] Allow for timezone support
- [ ] Allow for operations on datetime type

All this could be helped with the inclusio

[2020-11-24 14:21] willy610 commented on #118
@Redblueflame  I have not sufficient knowledge of capabilties of ``sled`` and/or the demands from ``gluesq``l
on any storage provider today or in the future.

Given that I prefer this 'issue story telling' more than chat which I think is more suitable for details discussions.
At the moment!

So

The benifit of index is speed and but also a requirement for reasonable fast integrity stability.

Befo

[2020-11-25 11:33] Redblueflame opened #124 "Add benchmarks for both indexed and non indexed fields"
Blocked by #118.

After indexing has been added, we'll need to add benchmarks to view the performance increase added with the indexing system.

[2020-11-26 11:38] willy610 commented on #46
Attached is a project on a simple command line tool.

[abc-sql.zip](https://github.com/gluesql/gluesql/files/5602666/abc-sql.zip)

[2020-11-26 17:35] MichaelMcDonnell commented on #46
That's looks nice @willy610! Are you planning to publish it on a GitHub repository under an open source license?

[2020-11-26 22:45] willy610 commented on #46
Thanks @MichaelMcDonnell

Within a week or two I will put on GitHub repository under an open source license.
I hope it won't interfere with this GlueSql in any way. Trademarks or what ever

[2020-11-26 22:56] MichaelMcDonnell commented on #46
Sounds good @willy610! The name `abc_sql` makes it clear that it is something separate.

[2020-11-27 04:22] panarch commented on #46
@willy610 You can feel comfortable to do what you want, that will not make any issue.
GlueSQL project is under Apache-2.0 license which is very generous, you can do almost whatever under this license.

[2020-11-27 12:05] willy610 commented on #63
### Some notes on Join (and indexes)

1. FULL [ OUTER ] joins could be compiled into 'select ... left join(...) union right join(...)'
2. INNER join. If indexes are present chose the smallest index one for outer scan.
3. LEFT or RIGHT. Look into pseuocode here. Outer must scan whole table. ``iter()`` on inner could be a 'match' on index
4. I think moving all joins from select.rs and join.rs into a

[2020-12-03 06:08] panarch opened #129 "Fetching partial data of row in scan_data"
## Summary

Change `scan_data` from
[code]
to
[code]
here `Ident` specifies column name and bool is whether it is used or not.

(param detail can be changed)

## Details

[code]
Current `Store` trait's `scan_data` function requires fully fetched row.
It makes sense when we use wildcard(*) in `SELECT` queries.

[code]

However, when we only need some subset of columns..
e.g. let's use this `Hello`

[2020-12-03 06:11] panarch commented on #129
@rnbguy this issue might be a good start

[2020-12-03 06:25] panarch opened #130 "Blob type support"
1. Add a new type `Blob` to `gluesql::data::Value`.
It may match to `Blob` in `sqlparser::ast::DataType` and `HexStringLiteral(String)` in `sqlparser::ast::Value`.

2. Expand `sqlparser::ast::Value` to store raw `bytes[]`.
Then someone who wants to build AST without sql string, they can use raw bytes without converting into string.

@KyGost

[2020-12-03 10:59] panarch opened #131 "Expanding sql parsed AST"
Related to
* https://github.com/gluesql/gluesql/issues/118 - Indexing,
We need to add information to AST (table) about what columns are indexed.
* https://github.com/gluesql/gluesql/issues/129 - fetching partial columns
After analyzing raw sql query string, there should be a place to store list of columns to specify.
* https://github.com/gluesql/gluesql/issues/130 - use blob directly in AST.
Addin

[2020-12-03 13:25] panarch commented on #131
Thanks to @KyGost , it looks possible to achieve all 3 tasks without considering AST expansion.

[2020-12-03 15:24] #131 closed

[2020-12-03 15:28] willy610 commented on #78
ORDER BY is an outer cover only useful for the presentation of result. Look into the AST ``Struct sqlparser::ast::Query`` A kind of sibling ``limit``

One can assume that the ordering mostly is on a subsets due to joins and where.

The location of an order by is probably in ``executor/execute.rs`` and after the ``select_with_labels``

I did an implementation of order by in the benchmark [https://g

[2020-12-03 15:32] willy610 commented on #46
Just published [https://github.com/willy610/abcsql.git](https://github.com/willy610/abcsql.git)

With a tryout on ORDER BY #78

[2020-12-03 15:36] panarch commented on #46
@willy610 Thanks for sharing, wow.. looks so great!

[2020-12-26 02:15] panarch opened #140 "CASE expression support"
https://www.sqlitetutorial.net/sqlite-case/

[code]

This is for evaluating `sqlparser::ast::Expr::Case`

[2021-02-17 15:59] MichaelMcDonnell commented on #46
I just learned about the [rustyline crate](https://crates.io/crates/rustyline). I think basing a CLI implementation around that would work out great. It has a lot of features including history, line editing and completion.

[2021-02-18 08:16] #105 closed

[2021-02-18 09:09] panarch commented on #46
@MichaelMcDonnell Thanks, looks good to use.

I'll also leave another crate [structopt](https://github.com/TeXitoi/structopt), this would be useful for command line argument parsing.

[2021-02-24 22:48] KyGost commented on #65
*Technically* you can already, it is just gross:
Here's what I've been using:
[code]

It would be nicer to have a far more user friendly way though.

[2021-02-25 21:44] KyGost commented on #65
I've just realised-- did you mean array data type or array input?

[2021-02-27 07:41] KyGost commented on #76
Looks like it sorts itself out for every command but `INSERT`. Working on this now.

[2021-02-27 08:16] KyGost commented on #76
#145

[2021-02-27 08:32] KyGost commented on #140
Working on this

[2021-02-27 08:42] KyGost commented on #140
I take it back, maybe at some other time hahaha

[2021-02-27 11:23] KyGost commented on #78
@willy610

Did you do it on the GlueSQL side?
If so, could you share the code or put up a PR?

[2021-02-27 11:35] KyGost commented on #121
Any need for timezone support if it is just in millis?

[2021-02-27 11:38] KyGost opened #148 "Non-string API"
It would be nice to add a non-string api, that is to say a way to (mostly just) `INSERT` data and provide a `vec` rather than having to concatenate or work around GlueSQL.

Would this be best as a seperate repo, an optional component just a regular component?

[2021-02-27 11:51] willy610 commented on #78
Hello
If you want to lock at how I did the ORDER BY

Look into the source of https://github.com/willy610/abcsql.git

You will find it in

src/abcsql/applic_folder/orderby.rs

( called from src/abcsql/applic_folder/go_exec.rs )

Hope this will contribute to some implementation

Kindly
willy

-----------------------------
Willy Svenningsson
Johannas Vag 28
S-425 42 Hisings Karra
Sweden
+46 0768 22 2

[2021-02-27 11:57] KyGost commented on #78
@willy610
Thanks :-)

[2021-02-27 12:29] KyGost opened #149 "String only output API"
In the same vein as #148, it'd be nice to have some API.
Same questions re method of implementation.

It would be good if there was a API side way of getting results as `Vec<Vec<String>>` instead of `Vec<Vec<Value>>`.

[2021-02-27 15:04] panarch commented on #149
Sounds good :) Thanks for the suggestion.
This one, we can easily support it by [trait.ToString](https://doc.rust-lang.org/std/string/trait.ToString.html) for `gluesql::data::Value`.

Implementing `ToString` trait and adding some unit tests to `Value` would be enough.

[2021-02-28 01:10] KyGost opened #150 "LEFT and RIGHT functions"
`LEFT` and `RIGHT` `TEXT` functions would be nice and shouldn't be too challenging.
https://docs.microsoft.com/en-us/sql/t-sql/functions/left-transact-sql?view=sql-server-ver15
https://docs.microsoft.com/en-us/sql/t-sql/functions/right-transact-sql?view=sql-server-ver15

If I don't get around to it first, it might be a good first issue for someone.

[2021-02-28 01:21] KyGost opened #151 "Aggregating values"
It'd be nice to be able to aggregate values like:
`SUM(activity.quantity * cost.multiplier)`

[2021-02-28 01:44] KyGost opened #152 "Joining queries"
Looks like joining a subquery isn't supported.
It'd be nice to get that.

Example:
[code]

[2021-02-28 05:37] KyGost opened #153 "COPY command"
A command like this would be pretty awesome:
https://www.postgresql.org/docs/9.3/sql-copy.html

[2021-02-28 06:27] panarch commented on #151
Thanks, I didn't aware of this, currently only a single identifier is allowed. It looks good to add support.

[2021-02-28 06:29] panarch commented on #153
This feature looks good to have as an optional store trait, like `alter_table`.

[2021-02-28 06:31] panarch commented on #148
This sounds interesting to have, but not sure what would be a good way to add this feature.
If that is for supporting full sql functionality, then we can consider this as an.. ORM and it's better to use a seperate repo.
However, current main needs looks limited to inserting data.
Then optional component approach might work well.

[2021-03-02 13:27] KyGost commented on #76
@panarch close?

[2021-03-02 13:28] KyGost commented on #77
Oh I didn't see this!
Fixed with #143

[2021-03-02 13:28] panarch commented on #76
@KyGost Oh, thanks :) I'll close

[2021-03-02 13:28] #76 closed

[2021-03-03 09:27] KyGost opened #159 "AUTO_INCREMENT"
It would be quite nice to have an `AUTO_INCREMENT` feature for `INTEGER` columns.

There's a few approaches to how this could work though:

SQLite automatically acts on `INTEGER PRIMARY KEY` columns, backfilling where values are removed while the keyword specifies that backfill should not occur.
https://sqlite.org/autoinc.html

MySQL acts based on the current largest value in the column when the k

[2021-03-03 09:28] KyGost commented on #130
Oh, I don't recall why I was tagged in this?

[2021-03-03 09:31] panarch commented on #130
I barely remember. You were trying to insert blob, but there's no feature supported so you might use `sqlparser` directly? or used text.

[2021-03-03 13:04] panarch commented on #159
I'm also familiar with MySQL's `AUTO_INCREMENT` syntax.

There can be something to consider about the implementation plan.
I'm not sure that current `Store` trait methods are enough to support `AUTO_INCREMENT`.
Then, we might need to add another optional store trait for this?

[2021-03-03 21:40] KyGost commented on #159
If you were using the MySQL or SQLite method with backfill, I don't think you would need to store anything in the schema

[2021-03-04 07:06] KyGost commented on #149
Same thing with JSON output too

[2021-03-04 07:17] panarch commented on #149
@KyGost JSON output sounds also good, in this case, it would be good to customize `serde` serialize, https://serde.rs/impl-serialize.html

[2021-03-04 12:37] KyGost commented on #159
Hmm
PostGreSQL does:
https://www.postgresql.org/docs/13/ddl-generated-columns.html

[2021-03-04 12:47] KyGost commented on #159
I tried a number of ways writing it how I might expect it to be writable and with the current sqlparser, `id INTEGER CONSTRAINT AUTO_INCREMENT NOT NULL` seems to be the only reasonable way.

(With the NOT NULL always required)

Thoughts on `AUTO_INCREMENT` vs `AUTOINCREMENT`?

[2021-03-04 12:49] KyGost commented on #159
nb:
[code]
Gives us:
[code]

[2021-03-04 13:05] KyGost commented on #159
`CONSTRAINT AUTO_INCREMENT UNIQUE` & `CONSTRAINT AUTO_INCREMENT PRIMARY KEY` also works

[2021-03-05 03:17] KyGost commented on #159
I was trying to implement this using a validation check but it seems this would actually be quite simple by using the existing row/default code.

The question just becomes how to decide the value to use.

Doing a scan seems it would be rather expensive but once indexes are in (esp considering `AUTO_INCREMENT` will probably be very often PK) it shouldn't be too bad.

[2021-03-05 03:27] KyGost commented on #159
Hmmmmm
That wouldn't work for multi row nor simultaneous inserts.
I suppose maybe the value will need to be stored in a schema.

If this is the case it would probably be most efficient to just use the MSSQL method of just storing and reseeding as needed.

If we wanted it to work otherwise it would probably need to check the value each update/insert (specified or not) and update it when that value

[2021-03-05 03:34] KyGost commented on #159
@panarch do you think it would be better to add a generated parameter on schema or leave it to the store and add a new prefix for sled?

[2021-03-05 05:14] panarch commented on #159
@KyGost
In the case of MySQL syntax, we might be able to use `CREATE TABLE Test (id INTEGER AUTO_INCREMENT NOT NULL)` without using `CONSTRAINT` keyword

[code]
This above is supported by the latest version of `sqlparser`.

However, GlueSQL is currently using `sqlparser@v0.6.1`, the latest is `v0.8.0`. I'll migrate to newer ASAP.

The reason you needed to use `CONSTRAINT` keyword is because of `sq

[2021-03-05 05:16] KyGost commented on #159
@panarch
Ah awesome!

Yup.

[2021-03-05 05:23] panarch commented on #159
And the design I briefly thought was something like this.

Adding optional store trait
[code]

and implementation idea for `SledStorage`
1. fetching the biggest item
2. add 1, and return

However, without index this above implementation plan can be quite inefficient, so it would be good to do something more on this, like you suggested in the thread.
(This would be ok with bulk insert `INSERT INTO

[2021-03-05 07:10] panarch commented on #159
@KyGost 🚀 https://github.com/gluesql/gluesql/pull/160 🚀

[2021-03-09 10:04] panarch opened #166 "Refactoring crate::data::Value and removing Value::Empty"
Thanks to @KyGost 👍

Prior threads,
- https://github.com/gluesql/gluesql/pull/163
- https://discord.com/channels/780298017940176946/780298017940176949/818732114782060555

Goals,
1. Removing `Value::Empty` and replace it to use `Opt-` prefixed values.
`Value::Empty` was for representing `NULL` values which is filter out by outer join condition failures.
However, it looks not worth enough to disting

[2021-03-09 11:25] panarch commented on #166
@KyGost type alias sounds nice, we might use well.
However,
[code]
This looks different because `Value`
[code]
here `Value` needs to have both `Optional` and Non-nullable. but using `Option<InnerValue>` it can only represent nullable value.

[2021-03-09 12:09] KyGost commented on #166
Why do we want `NonNullable`?

[2021-03-09 12:15] panarch commented on #166
@KyGost
Because if we don't use `NotNullable` then every column will become optional.
This is a simple translation from the current 1-step `Value` to 2-step `Value-InnerValue` codes.

First intention I decided to keep non-opt and `Opt-` values in 1-step `Value`, it was because I also worried about the case which it would cause more code, processing.
However, this 2-step nesting can make `Value` co

[2021-03-09 12:44] panarch commented on #166
@KyGost Ok two points.

For this kind of purpose, we cannot use type alias like this, `type Value = Option<InnerValue>`.
Because we cannot `impl` on type alias.
So, we still need to use some kind of `enum` to represent `Option<InnerValue>`, 2-step.

The other point is...
If we simply use only `Option<Value>`, then every column becomes nullable.
Once we use 2-step enums, supporting both `NotNullabl

[2021-03-09 13:16] panarch commented on #166
@KyGost btw, it might be little bit different topic, though we use 2-step value, we can only use 2-step value for internal implementation. Then, for end-user, by something like `flatten` work, it is possible to keep current `Value` enum structure.
[code]

nested value to end-user might be a bit bothersome stuff so.. this kind option is also considerable.

In anyway, I'll firstly focus on removing

[2021-03-09 13:40] panarch commented on #166
@KyGost Oh, that `struct Value(Option<..>)` really makes sense, I didn't aware of that, thanks :)
I'll just spend a single more day to think about this whether `NotNullable` is really meaningful info to keep.

For now, something makes me hesitate to decide this kind of reducing information, but nothing is certain for now.

How about this?
Row stores `Vec<Value>` and now it is obvious for `NOT NULL

[2021-03-09 13:46] KyGost commented on #166
@panarch
Aren't we doing that anyway?

Also, we could keep them blank and assume `None` by default, easier than assuming something like `OptStr(None)`? :-)

Sleeping on it sounds good.
I'll be off for the night very soon but would be happy to talk more about it tomorrow.

[2021-03-09 13:50] panarch commented on #166
Ok, let's keep talk about this tomorrow, thanks :)

[2021-03-10 02:33] panarch commented on #166
I think two independent topics were mixed but we handled together yesterday.

1. For end-users, is providing more info of `NULL` meaningful?
Here, you mentioned it is not necessary, and I also... have no proper reason about why it is really necessary for users.
Someone who just wants to use sql db casually, they would be simply ok with this kind of values,
[code]
Because above is what other sql da

[2021-03-10 02:46] KyGost commented on #166
1
---
You're right, that option of the 4 types + Null is pretty good.
Hmm this does raise the question, perhaps that would be good; would it be nicer to have
[code]
or
[code]
Which is sorta more how rust normally works.

I don't have a big preference. Though perhaps it would be easier to handle the `Option`.

2
---
Yes, I would be doing `Option<Value>` for both, this would make it easier to handle

[2021-03-10 04:04] panarch commented on #166
1
---
Oh interesting.. I'll also think more on this.

As a point of looking NULL in SQL as an one of values, not absence of value, `INTEGER NULL` can be union type of `I64 | Null`. like this..
Then, the first choice may make sense.

When we consider the second,
Though it's not possible to impl on `Option`, but it is still possible using trait approach.
something like this,
https://play.rust-lang.o

[2021-03-10 07:25] panarch commented on #166
@KyGost Oh! I think I found a reason of that we need to use `Value::Null` rather than `Option`.

In Option, `None == None` however, `NULL != NULL`.
So by custom implementation of `eq`, we can make `Value::Null != Value::Null` but not possible using `None`.

[2021-03-10 07:28] KyGost commented on #166
Yeah, that's a fair point about the `impl`s!

I mean it wouldn't be too bad, it'd probably just be:
[code]

We could probably set up macros to make it more seemless but it would probably be a bit of cluttery either way.

Hmm, yeah, more thought needed. Will pay more attention in a bit, busy atm.

[2021-03-10 07:58] KyGost commented on #166
Oh! Good point!!

[2021-03-10 08:00] KyGost commented on #166
Yeah considering the equals and `impl`, I think it might be correct to use `Value::Null` :-)

[2021-03-10 08:04] KyGost commented on #166
I think you *could* override the Eq for Option<Value> but that's gross.

[2021-03-10 09:03] panarch commented on #166
👍 This is quite.. attractive issue, I'll work on it soon and share!

[2021-03-10 12:30] panarch commented on #166
fyi. Rust does not allow trait impl override. (I actually just tried and found ... 😄 )

[2021-03-11 05:30] #166 closed

[2021-03-13 01:46] KyGost opened #174 "Internal: Clean up `use`s"
It would be nice to go through and clean up usages of `use` so that they are all like:
[code]
instead of
[code]

[2021-03-13 04:44] panarch commented on #174
I agree, previous `use` has some implicit rules and it could be bothersome for random contributors.
Using `use { .. }`, `cargo fmt` simply takes the whole role and we don't need to care about arranging `use`.
Let `cargo fmt` does everything :) Thanks for the good suggestion.

[2021-03-13 16:26] panarch opened #178 "Replacing `sqlparser::ast::Value` to custom enum"
Currently we use `sqlparser::ast::Value` by renaming to `Literal`.
However, in the codes we need only partial part of `ast::Value`.
* `Boolean`, `Number`, `SingledQuotedString` and `Null`
Above four types are all which are used in GlueSQL for now.

It would be good to consider making our own `enum Literal`.

[code]
the above might be enough.

[2021-03-13 22:51] KyGost commented on #178
Would we then just do a function which does a match each time we work with ast values?

[2021-03-14 04:15] panarch commented on #178
@KyGost yup, I also expect to do that.
Then we can simply use `data/literal.rs - enum Literal` to take all of them.

[2021-03-14 07:41] KyGost commented on #178
That's a good idea :-)

[2021-03-15 01:25] #150 closed

[2021-03-16 13:43] #178 closed

[2021-03-17 22:27] hiqsociety opened #182 "possible to add lmdb as storage backend?"
possible to add lmdb as storage backend?

[2021-03-18 03:41] KyGost commented on #182
I can't see why not, want some pointers on where to start? :-)

[2021-03-18 10:56] panarch commented on #182
If you have or implement lmdb rust binding, then there's no problem to support lmdb storage backend. :)
Even html5 localStorage can be a storage for GlueSQL. ( https://github.com/gluesql/gluesql-js )

[2021-03-19 15:42] #182 closed

[2021-03-25 00:15] KyGost commented on #149
@panarch gave a useful link for this: https://github.com/gluesql/gluesql-js/blob/main/src/convert.rs

[2021-03-25 00:35] KyGost commented on #149
I think that JSON should be represented as:
For:
`SELECT name, fruit_id, rating FROM favourite_fruits`
Get:
[code]

[2021-03-25 00:38] KyGost commented on #148
I think API should work like:
`insert_vec(table_name: String, columns: Vec<String>, rows: Vec<Vec<Value>>)`

Maybe even also:
`insert_string_vec(table_name: String, columns: Vec<String>, rows: Vec<Vec<String>>)`

[2021-03-27 00:32] KyGost commented on #149
TODO:
- [x] `parse_single`
- [x] `select_as_string`
- [ ] `select_as_json`
- [ ] `insert_vec` resolve #148
- [ ] `insert_csv` resolve #153 (alternative to)

[2021-03-30 04:30] KyGost opened #189 "Throw on too many values"
I've just noticed that this doesn't error, that's a problem:
[code]
Instead it acts like:
[code]

[2021-03-30 05:01] KyGost opened #190 "INSERT INTO SELECT only works for SELECT *"
[code]
Gives
[code]
Discussion on discord: https://discordapp.com/channels/780298017940176946/780298017940176949/826319550537793596

[2021-04-01 11:27] #149 closed

[2021-04-01 11:30] KyGost opened #195 "API expansion"
See #149, #148.
TODO:
- [x] `parse_single` #187
- [x] `select_as_string` #187
- [ ] `select_as_json` Pending: #200
- [x] `insert_vec` #193
- [ ]  `insert_vec_as_string`
- [ ] `insert_csv` (Alternative) Resolve: #153

[2021-04-01 12:15] #148 closed

[2021-04-01 12:49] KyGost opened #196 "Function: UUID()"
`UUID()` is a function which generates a random, unique ID.
[T-SQL Spec for NEWID()](https://docs.microsoft.com/en-us/sql/t-sql/functions/newid-transact-sql)
[MySQL UUID](https://dev.mysql.com/doc/refman/5.7/en/miscellaneous-functions.html#function_uuid)
[MySQL UUID Short](https://dev.mysql.com/doc/refman/5.7/en/miscellaneous-functions.html#function_uuid-short)

Functions as `UUID_SHORT()` from My

[2021-04-01 13:23] panarch commented on #196
However, is `NEWID()` designed only for `uniqueidentifier`?

More general one to have might be `UUID()`, then we can simply use https://docs.rs/uuid/0.8.2/uuid/

[2021-04-01 13:35] panarch opened #197 "Omitting NULL column in INSERT is not accepted"
[code]

This insert statement should be accepted but it is not.

[2021-04-01 13:44] KyGost commented on #196
@panarch
Ah! Hmm, not sure whether it would be better to use sled's `generate_id()` or that; thoughts?

[2021-04-01 13:45] KyGost commented on #196
And if we did that should the function be called `UUID()`?

I mean we *could* add both

[2021-04-01 13:46] panarch commented on #196
Oh this was a different issue, let's forget about `UUID`.
Why are you thinking about replacing `generate_id()`...?

[2021-04-01 13:47] panarch commented on #196
`generate_id` is not public api, it should not be exposed as a store trait.

[2021-04-01 14:04] KyGost commented on #196
Huh??
Store traits are public?

So what, I'd just do `storage.tree.generate_id()` instead?

[2021-04-01 14:04] KyGost commented on #196
They'd serve the same purpose, very unique values.

[2021-04-01 14:08] panarch commented on #196
For now, I cannot get the point about your intention.
I saw the pr codes and I cannot understand what is purpose of `NEWID`.
Why does we need `NEWID` which is only for `uniqueidentifier` data type in sql server?

[2021-04-01 14:23] KyGost commented on #196
It is a random ID, kinda like `AUTO_INCREMENT` but is meant to be cross database.
Functions like UUID.

Enables stuff like creating two parallel tables and unioning them while keeping unique IDs.

[2021-04-01 14:25] panarch commented on #196
Then, we can just use `UUID` rather than `NEWID`?
More importantly, implementing uuid functionality and applying to store trait are independent issues. These should be in seperated prs.

[2021-04-01 14:30] KyGost commented on #196
Sounds good.

[2021-04-04 13:23] panarch commented on #190
Can you write the content? the link to Discord can be good to refer but it is not sufficient.

[2021-04-04 13:29] KyGost commented on #190
@panarch

Fixed

[2021-04-04 13:32] KyGost commented on #190
Oops I forgot this wasn't merged yet

[2021-04-04 13:40] panarch commented on #190
`INSERT INTO TestInsertSelect (name) SELECT name FROM Test`
Can you provide full example of queries to re-generate?

This works in `src/tests/basic.rs`
`INSERT INTO TestA (id, num, name) SELECT id, num, name FROM Test`
and adding in `basic.rs`
[code]
These queries also don't make any noise.

[2021-04-04 13:43] KyGost commented on #190
The issue relates to the columns in the insert statement being ignored for the rows in the select query thus resulting in trying to insert all select rows into the table indexed at the 0th position of the table.

I'd rather not write out a full list of testcases for it.

It is resolved in my PR, including test cases.

[2021-04-04 14:13] panarch commented on #77
Oh, missing link.
It is now fixed in this pr! 👍
https://github.com/gluesql/gluesql/pull/184

[2021-04-04 14:13] #77 closed

[2021-04-04 14:34] KyGost opened #201 "String concatenation"
It would be good to have string concatenation.
Key examples:
[T-SQL allows using the `+` operator on strings.](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/string-concatenation-transact-sql)
[MySQL has the `CONCAT()` function.](https://dev.mysql.com/doc/refman/8.0/en/string-functions.html#function_concat)

[2021-04-04 15:18] panarch commented on #201
Thanks! It looks good to have both.

[2021-04-13 00:56] KyGost opened #202 "MultiGlue"
MultiGlue feels like the feature GlueSQL was born to have!
What would make Glue really stand out would be a feature which allows one to interact across databases, specifically multiple types of databases.
I proposed it here: https://discordapp.com/channels/780298017940176946/780298017940176949/830597175841914920

The gist is, `MultiGlue` would enable tying together Glue instances of any type, be i

[2021-04-14 12:34] #190 closed

[2021-04-14 12:40] #14 closed

[2021-04-14 12:40] #124 closed

[2021-04-14 12:41] #52 closed

[2021-04-14 12:46] panarch opened #203 "Merging FilterContext and BlendContext"
Now it is fully ready to do merge `FilterContext` and `BlendContext`.

The only difference between them is that `BlendContext` owns `Row` and `FilterContext` borrows `Row`.
Using `Cow`, both can be unified.

[2021-04-15 00:28] KyGost commented on #203
Please note! If you want to and up merging the big changes I've made to the way we `SELECT` this will be a waste of time as I have gotten rid of both of these things.

[2021-04-15 01:44] panarch commented on #203
@KyGost Oh, isn't that for the fork you made (https://github.com/SyRis-Consulting/gluesql)?
I didn't know that you are considering to merge to here.

[2021-04-15 01:48] KyGost commented on #203
**If** it provides notably better performance I would suggest merging it here (to main) as it would be beneficial to all.

Note that any future development I do with/for GlueSQL (assuming that the performance is better) will likely be on top of that branch.

[2021-04-15 02:03] panarch commented on #203
@KyGost Ok, as we discussed before, the reason which cannot be merged is not simply the matter of performance.
At least, I don't have any plan to give up no-mut policy and iterator laziness in here.

This is the point.

Your current work is already made on top of that branch and the reason you forked was disagreement about strict policies, auto increment, etc between us. It means that any further

[2021-04-18 15:37] panarch commented on #201
I've reviewed several databases and it looks good to follow PostgreSQL's policy.
It implements both ANSI SQL `||` operator and `CONCAT` function.
However, `CONCAT`'s behavior is different from `||`.

`"Foo" || NULL => NULL` but `CONCAT("Foo", NULL) => "Foo"`.
`CONCAT` ignores `NULL` value.

Both can be useful for different purposes.

[2021-04-24 15:39] Butuhpakagsial commented on #174
https://github.com/gluesql/gluesql/issues/174#issue-830771998

[2021-04-24 15:40] Butuhpakagsial opened #210 "kasi cuci sampai bersih babeh fuck you sial"
https://github.com/gluesql/gluesql/issues/174#issue-830771998

[2021-04-24 15:50] Butuhpakagsial opened #211 "Pala BUT kau lahanat laa sial"
https://github.com/gluesql/gluesql/issues/159#issuecomment-790594079

[2021-04-24 16:03] Butuhpakagsial opened #212 "kasi bunga API sama pukimak"
https://github.com/gluesql/gluesql/issues/149#issuecomment-806265620

[2021-04-25 04:11] #210 closed

[2021-04-25 04:11] #211 closed

[2021-04-25 04:12] #212 closed

[2021-04-25 04:14] #202 closed

[2021-05-01 16:18] panarch commented on #121
* `DATE` and `TIMESTAMP` types #215

I'll also add `INTERVAL` type soon.

[2021-05-06 09:30] #121 closed

[2021-05-06 09:55] #195 closed

[2021-05-08 00:56] #203 closed

[2021-05-14 03:54] KyGost commented on #174
I've just been looking through [rustfmt](https://github.com/rust-lang/rustfmt)'s documentation and found a super awesome feature!
[imports_granularity](https://rust-lang.github.io/rustfmt/#imports_granularity) automatically does this. It is currently unstable and the `One` option (how I tend to prefer it) is even more so but once done it should remove this concious choice :-)

[2021-05-14 04:04] panarch commented on #174
@KyGost Wow, thanks for sharing. Once it comes into stable, then it would be good to use this option.
I just tried `merge_imports` but it looks like.. both `imports_granularity` and `merge_imports` work only in Rust nightly.

btw, it was supposed to be closed by the pr #223, closing now manually.

[2021-05-14 04:04] #174 closed

[2021-05-20 17:04] panarch opened #226 "DECIMAL type support"
It would be good to use this crate - [rust_decimal](https://docs.rs/rust_decimal)

Let's start with supporting only `DECIMAL` without specifying precision and scale values.
(only `DECIMAL`, not `DECIMAL(10, 2)`, `DECIMAL(5)`...)

[2021-06-01 04:23] panarch opened #229 "Accepting more expression in limit clause"
Current `LIMIT` and `OFFSET` only accept literal expression.
Use `evaluate` to accept more expressions.
Then, we can remove `LimitError` which only has a single fake `Unreachable` error.

[2021-06-04 04:45] panarch opened #230 "Move function name & arguments parsing to translate"
Current function name & arguments parsing is handled by `evaluate` module in execution layer.

Now we have own AST, so we can parse function in translate.
Function name & arguments length can be checked.

[2021-06-04 15:07] #94 closed

[2021-06-09 04:09] panarch commented on #229
sqlparser only accepts number value for `LIMIT` and `OFFSET`, but it provides `Expr`.

In #235 , I simply cleaned up the codes and add a test case.

[2021-06-09 04:09] #229 closed

[2021-06-13 14:02] #230 closed

[2021-06-14 02:38] the-wondersmith opened #242 "Can't Figure Out Proper Implementation For `gluesql::store::Store::scan_data`"
I used converting a parser for DataFlex fixed-width flat-file "databases" I wrote in Python to Rust as a means of actually *learning* Rust. I've got everything working correctly in Rust to read (and eventually write) the "database" files.

I'm trying to implement gluesql's `Store` trait so that I can run queries against the parsed "databases". I'm not getting *something*, and I'm having a hard tim

[2021-06-14 02:50] KyGost commented on #242
For a really simple example of a storage, have a look at MultiSQL's CSV store (note that there is minor differences in implementation between Glue and Multi):
https://github.com/SyRis-Consulting/multisql/tree/main/src%2Fstorages%2Fcsv_storage

[2021-06-14 12:26] panarch commented on #242
If `Store` trait is only which you need for now, then you might not need key struct, then you can use `RowIter<T>` using `T as ()`.
Details you provided looks not sufficient for me to understand the point.
However, it seems like that you are currently stuck at code compile.

[code]
Whatever the internal implementation is used, once you make the return type to trait methods, then code will run.
You

[2021-06-14 13:35] the-wondersmith commented on #242
@panarch  Following your advice, I've refactored the `Iterator` implementation on the table reader thusly:

[code]

Assuming I'm not *completely* daft, the signature should now correctly match `Iterator<Item = gluesql::Result<(T, gluesql::Row)>>` wherein `T = Value`. If I understood your advice correctly (which the compiler appears to be *insisting* I haven't), the implementation of `Store` should

[2021-06-14 13:51] panarch commented on #242
Rather than implementing `impl<'a> Iterator for DFTableIter<'a> {`...
It looks like `_record_data` in `&self.table._record_data[self.position as usize]` is shape of `Vec`.
Then, you will be able to simply use `_record_data.into_iter().map(...)` like approach.

Also in the beginning, it would be enough to set `T = ()` you don't need to use `gluesql::Value` for `T`.
[code]
This should not use `RowIt

[2021-06-14 14:20] the-wondersmith commented on #242
`_record_data` *is* a vec, but it's not parsed or usable as is (it's a `Vec<u8>`). It's basically just an internal cache of the unparsed record data, it's sort of a side-effect of the way the tables are structured and therefore loaded that I'm taking advantage of to reduce... well *effort* duplication really. The records are actually parsed out into usable `gluesql::Row` objects by `record_from_by

[2021-06-14 14:35] panarch commented on #242
No problem, `T` is used for key representation and that `T` is used when you update data using queries like.. `INSERT`, `DELETE` or `UPDATE` which requires `StoreMut`.
However, you don't need `StoreMut` for now and it means that `T` is not necessary.

[code]

`()` just literally means `()`, no value.
You can simply replace all `T`s to `()`.

[2021-06-22 07:20] #242 closed

[2021-06-28 07:00] #118 closed

[2021-06-30 17:08] euiko opened #251 "LIKE operator support"
It looks nice to has an `LIKE` operator support, which most other sql database supports
It is quite useful to lookup rows by simple pattern

For simpler implementation maybe support just like postgres in one :
[PostgreSQL: Documentation: 8.3: Pattern Matching](https://www.postgresql.org/docs/8.3/functions-matching.html)

Maybe good to use [regex](https://github.com/rust-lang/regex) for starter

[2021-07-05 06:24] #251 closed

[2021-07-17 21:00] the-wondersmith opened #255 "[Feature Request] Make gluesql::Row more ergonomic"
I'm still a little new to Rust (as evidenced by my previous issue posting), so if what I propose is either impossible, impractical, or... un-Rust-like I'll close the issue and forget all about it. That said, I was wondering if it would be possible to make the `glusql::Row` type act more like a transparent type wrapper for its underlying `Vec<Value>`member.

I can't find very solid examples in rust

[2021-07-18 11:48] panarch commented on #255
@the-wondersmith Good question, thanks for asking this. For me, it became also very meaning time to re-think about `Row`.

"newtype pattern" looks also good, but how about this? We might be able to think of `Row` little bit differently.
`Row` struct wrapper for `Vec<Value>` is useful in internal implementation, but it may be not for end-users.

Current `SELECT` query result data format is shape of

[2021-07-19 15:36] the-wondersmith commented on #255
@panarch If I'm understanding your proposition correctly, then absolutely that sounds like a perfectly viable way to get what I was after I suppose.

I am still curious though, if a more experienced Rust dev could point me in the correct direction to the relevant documentation I'd need to write something like the transparent type wrapper I described.

[2021-07-22 13:30] #255 closed

[2021-07-22 13:42] panarch commented on #255
@the-wondersmith oh sorry I missed your comment.
I'll add an issue related to this. removing `Row` in `Payload::Select`.

I'm not sure about the transparent type wrapper.
However, in Rust, I don't think that kind of specific pattern is important.
In the case of your code example,

[code]
For these above traits, they all have their own purposes.
Rather than thinking about the pattern, we can simply

[2021-07-22 13:47] panarch opened #256 "Remove `Row` in `Payload::Select`"
From #255 , thanks to @MichaelMcDonnell

`Row` struct is internal wrapper for convenience which simply contains `Vec<Value>`.
`Row` is useful in internal development, but not for end users.
We don't need to expose `Row` to database user-side, we can remove it.
Then,
[code]

[2021-07-25 17:09] #78 closed

[2021-08-02 15:14] panarch opened #258 "Fix Glue::execute to run multiple sql query string"
In `src/glue.rs`, `Glue` module is a kind of wrapper interface which provides users to execute sql queries in a simple way.

It is firstly designed to run multiple sql query string.
e.g. In `https://docs.rs/gluesql/0.7.0/gluesql/`,
[code]

However, current `Glue` module only execute the first query, (`DROP TABLE IF ..` is only executed)
https://github.com/gluesql/gluesql/blob/b03a0587c22fac5880737

[2021-08-02 15:17] panarch opened #259 "README.md code example is outdated"
Current README.md provides..
[code]
This is outdated, not working now in v0.7.

`Glue` module now accepts a raw sql string and execute.
It is enough to use this below,
[code]

[2021-08-02 15:31] devgony commented on #259
Let me edit README.md.
I will create Pull-request as soon as finish testing execution of multiple queries!

[2021-08-06 05:15] #44 closed

[2021-08-07 08:19] tmdgusya opened #264 "Add Floor, Ceil, Round Function"
I am going to add the functions below.

Ceil Func : Nearest integer greater than or equal to argument
    - example ) 11.2 -> 12
    - example ) -11.3 -> 11

Floor Func : Nearest integer less than or equal to argument
   - example ) 11.3 -> 11
   - example ) -11.3 -> -12

Rounds Func : v to s decimal places. Ties are broken by rounding away from zero.
   - example ) 11.6 -> 12
   - exmaple ) 11.2

[2021-08-07 10:04] zmrdltl opened #265 "[About] - REVERSE"
#### About REVERSE function

---

- Feature : Displays the entered string in the opposite order by flipping it over.

- Usage : `REVERSE('String you want to convert') `  * capital doesn't matter

- Example

[code]

  Result

  | result  |
  | ------- |
  | ESREVER |

- Example 2

[code]

   targets strings, which are executed by changing implicitly shape-shifting columns to strings. This is why RE

[2021-08-07 10:19] simple6192 opened #266 "Function: POWER(), SQRT()"
Trying to add mathematical function POWER() and SQRT().

`POWER( A, B )` : A raised to the power of B
ex. POWER(9, 3) → 729

`SQRT( A )` : Square root of A
ex. SQRT(2) → 1.4142135623730951

[2021-08-07 11:22] ever0de opened #267 "Implement TRIM function"
- Implement TRIM function
- This function is multibyte safe
- Implementing this feature allows to perform the following actions

1.  Remove whitespaces from prefixes and suffixes
    - If only str parameter
    - [rust/std/str/trim](https://doc.rust-lang.org/stable/std/primitive.str.html#method.trim)
    - In the example above, consideration of `\t` should also be considered
2. If the specifier is

[2021-08-07 11:29] ever0de commented on #267
If adopted, I will also fill out the remaining std functions for 2,3,4 features

[2021-08-07 11:40] ever0de commented on #267
Unfortunately, "specifier" of "sqlparser-rs" was not implemented. Let's just implement `feature 1`, which is a function of `TRIM(str)`.

[2021-08-07 12:28] maruoovv opened #268 "Support SIN, COS, TAN function"
support to SIN, COS, TAN functions.

---
### SIN Function : Returns the sine of the given value

[code]
|result|
|---|
|0|

[code]
|result|
|---|
|0.8414709848078965|

---
### COS Function : Returns the cosine of the given value

[code]
|result|
|---|
|1|

[code]
|result|
|---|
|0.5403023058681398|

---
### TAN Function : Returns the tangent of the given value

[code]
|result|
|---|
|0|

[code]
|r

[2021-08-07 13:49] No-YE opened #269 "Function: LPAD(), RPAD()"
- `LPAD(string TEXT, length INTEGER, fill TEXT) -> TEXT`
  - Add `fill`(a space by default) to the left of `string`. If `string` is longer than `length`, it shorten to `length`.
- `RPAD(string TEXT, length INTEGER, fill TEXT) -> TEXT`
  - Add `fill`(a space by default) to the right of `string`.  If `string` is longer than `length`, it shorten to `length`.

### Examples
1. If `string` is longer tha

[2021-08-07 15:41] heka1024 opened #272 "Support `exp`, `ln`, `log2`, `log10`"
# :rocket: Feature request
Support some basic functions, `exp`, `ln`, `log2`, `log10` to allow users to implement basic mathematical concepts in queries.

## Desired Behavior
### `Exp`
[code]
|Exp|
|-----|
| 7.38905|

### `ln`
[code]
|ln|
|-----|
|0.6931471805599453|

### `log2`
[code]
|log2|
|-----|
|6.0000000000|

### `log10`
[code]
|log10|
|-----|
|3|

[2021-08-08 07:04] MRGRAVITY817 opened #273 "Support math function `div()` and `mod()`"
## Support basic math functions `div()` and `mod()`.

### div ( y numeric, x numeric ) → numeric
 - Integer quotient of y/x (truncates towards zero)
[code]
### mod ( y numeric_type, x numeric_type ) → numeric_type
 - Remainder of y/x; available for smallint, integer, bigint, and numeric
[code]

[2021-08-08 11:30] djKooks opened #275 "Separate `sled-storage` to new workspace"
Hello,

Currently implementation of `sled` wrapper is being offered as default, and kept inside the project.
But because `gluesql` is sql db engine for multiple storage system, it will be better to separate `sled` implementation for new workspace. It can be better to make project more common, and `sled` wrapper can be used as a reference for other storage wrapper in future 🤔

[2021-08-08 11:31] panarch commented on #275
I agree and like this so much, sounds really good and thanks a lot for the suggestion. 👍

[2021-08-08 11:42] djKooks commented on #275
@panarch thanks~will try to make draft first 🙏

[2021-08-09 06:57] panarch opened #276 "Support timeout based GC to SledStorage snapshot"
`SledStorage` supports MVCC transaction using snapshots to manage internal data.
When data manipulation occurs, snapshot always grows even if `delete` op is executed.
Snapshot records all history run by transactions.
However, transaction instances usually exist only for short period, expired snapshot data can exist.
`gc` in SledStorages cleans up that garbage snapshot records.

Currently `gc` simp

[2021-08-09 07:24] panarch opened #277 "Enhance SledStorage transaction isolation level to SERIALIZABLE"
Current transaction isolation level of `SledStorage` is SNAPSHOT ISOLATION or REPEATABLE READ.
It is not safe from phantom read concurrent conflict cases.

`SledStorage` only allows a single writer at the time and it is a bit better than SQLite3 in the matter of concurrency.
SQLite3 provides SERIALIZABLE level, so users don't need to care about concurrency conflicts.
Though it is required to sacri

[2021-08-09 09:18] panarch opened #278 "Replace ast identifier type from `String` to struct"
`SELECT * FROM Foo WHERE id = 123;`
In this sql query, `id` is translated into an identifier and it simply uses `String`.
There exists a performance issue related to handle these identifiers.
In the execution layer, it is quite common to compare identifiers for finding a matched value.
However, it uses `String` and string comparison op is quite expensive.
We can replace comparison based on `String

[2021-08-09 10:24] genieCS opened #279 "Support `gcd`, `lcm`"
### Descriptions
- `gcd ( numeric_type, numeric_type ) → numeric_type`
  - Greatest common divisor (the largest positive number that divides both inputs with no remainder); returns 0 if both inputs are zero; available for integer, bigint, and numeric.
- `lcm ( numeric_type, numeric_type ) → numeric_type`
  - Least common multiple (the smallest strictly positive number that is an integral multiple

[2021-08-09 12:52] devil-k opened #280 "Implement radians, degrees, pi math functions"
Implement radians, degrees, pi functions

- radians
  - brief : convert degrees to radians
  - param : double precision number
  - return : double precision number
  - example : radians(45.0) → 0.7853981633974483

- degrees
  - brief : convert radians to degrees
  - param : double precision number
  - return : double precision number
  - example : degrees(0.5) → 28.64788975654116

- pi
  - brief :

[2021-08-09 13:24] panarch opened #281 "In-memory storage support"
Here in GlueSQL main repo, the only supported storage implementation is `SledStorage`.
There are some plans to have more 1-tier storages in the repo.

First one is [BTreeMap](https://doc.rust-lang.org/stable/std/collections/struct.BTreeMap.html) based in-memory storage.
Let's begin by supporting minimal requirements: InMemoryStorage which only implements `Store` and `StoreMut`.

[2021-08-09 13:55] djKooks commented on #275
@panarch  hello~
I've created temporary repo, which includes `storage` part of the project.
https://github.com/djKooks/gluesql-sled-storage

There are lot of errors, but just want to share how I think about separation of sled-storage.

Currently I'm thinking of making `SledStorage` class to be separated. So it will be

[code]

How do you think?

[2021-08-09 14:02] panarch commented on #275
@djKooks Thanks, frequent sharing really helps us to work on it.
It is workspace, so `SledStorage` is still supposed to be in the GlueSQL main repo.
Expected directory structure would be like this..
[code]

`sled_storage` moves outside of `src/` directory, and it can be in `/storages/sled_storage/` as a [workspace](https://doc.rust-lang.org/book/ch14-03-cargo-workspaces.html) shape.
Same repo but

[2021-08-10 01:20] devgony opened #282 "Implement Function: LTRIM, RTRIM"
# Implement Function: LTRIM, RTRIM

## These functions will remove the longest string containing only characters in characters (a space by default) from the start(LTRIM) or end(RTRIM) of string.

### LTRIM

[code]

### RTRIM

[code]

## We could refer to rust🦀 String methods...

### `trim_start_matches` for LTRIM

[code]

Returns a string slice with all prefixes that match a pattern repeatedly rem

[2021-08-10 07:58] Goinging98 opened #283 "Support Function :: ABS, SIGN"
# Support Fuction :: `ABS`, `SIGN`

## ABS
`ABS` is to calculate the absolute value of a number.
Return type will be same as input.
[code]

## SIGN
`SIGN` is for sign of the argument (-1, 0, +1)
Return type will be same as input.
[code]

## Reference from ..
1. https://www.postgresql.org/docs/9.1/functions-math.html
2. https://www.postgresqltutorial.com/postgresql-abs/

[2021-08-10 13:00] djKooks commented on #275
@panarch thanks for confirm! So is it like:
[code]
?

[2021-08-10 14:36] panarch commented on #275
@djKooks Yup exactly :)
Now, there's only one storage so you might not feel easy to make common storage wrapper. I'll try to prepare in-memory storage soon, then it would be helpful to think about common interface design.

[2021-08-11 08:10] inhwa1025 opened #284 "Implement Function: REPEAT"
# 🚀Implement Function: REPEAT

## REPEAT
`REPEAT` repeats string the specified number of times.
[code]
If number is less than 1, the `REPEAT` function will return an empty string.

## Reference
https://www.postgresql.org/docs/9.1/functions-math.html
https://www.postgresqltutorial.com/postgresql-string-functions/

[2021-08-11 10:12] boomkim opened #285 "Implement Function: ASIN, ACOS, ATAN"
## ACOS(X)

Returns the arc cosine of X, that is, the value whose cosine is X. Returns NULL if X is not in the range -1 to 1.
[code]
## ASIN(X)

Returns the arc sine of X, that is, the value whose sine is X. Returns NULL if X is not in the range -1 to 1.

[code]

## ATAN(X)

Returns the arc tangent of X, that is, the value whose tangent is X.

[code]

## Reference

https://dev.mysql.com/doc/refman

[2021-08-12 05:50] #259 closed

[2021-08-12 11:33] panarch opened #286 "Support `SELECT` without table"
[code]

Currently `SELECT {expr}` queries without referring table are not supported, `translate` module generates `LackOfTable` error.
Let's add this `SELECT {expr};` query support, then we can remove `LackOfTable` error.

[2021-08-12 13:12] #256 closed

[2021-08-15 10:44] djKooks commented on #275
@panarch hello
This is a draft PR for this issue(still lot of things to do) => https://github.com/gluesql/gluesql/pull/288

If there's anything to check, please let me know.

[2021-08-16 14:19] ever0de commented on #267
I'll add it to MySQL action.
MySQL can't perform multiple operations at once.

example
[code]

If exits whitespaces, string can't be erased.

[2021-08-17 06:49] panarch commented on #189
[code]
To test this bug, this above schema can be used.
It needs to have extra column. (here, it is `id INTEGER DEFAULT`).
So, number of values in ('test2', 3) is two but does not exceed the total number of columns in `TestUnique`.

[2021-08-17 11:09] ever0de commented on #189
I'll implement it.

[2021-08-17 15:38] ever0de commented on #267
Thank you for opening it up again.

## Check List
- [x] Remove whitespaces from prefixes and suffixes
- [ ] If the specifier is BOTH, Remove the specifier parameter to the prefix and suffix
- [ ] If the specifier is LEADING, Remove the specifier parameter to the prefix
- [ ] If the specifier is TRAILING, Remove the specifier parameter to the suffix

[2021-08-17 15:49] panarch commented on #267
fyi. while I was just checking `SUBSTRING` behavior, I found that how `FROM` keyword is supported by `sqlparser-rs`

* https://github.com/ballista-compute/sqlparser-rs/blob/e5991f3ae50ee3ee90ef3ddde9b4cb3a0914d85a/src/parser.rs#L628-L647
* https://github.com/ballista-compute/sqlparser-rs/blob/e5991f3ae50ee3ee90ef3ddde9b4cb3a0914d85a/src/parser.rs#L347-L367

[code]

I didn't know enough about the i

[2021-08-17 15:55] ever0de commented on #267
Wow, thank you for motivating me, too.
Let me double check.

[2021-08-17 15:59] hyewoni opened #293 "Implement Function: SUBSTR"
## Implement Function: SUBSTR

`substr ( string text, start integer [, count integer ] ) → text
`

Extracts the substring of string starting at the start'th character, and extending for count characters if that is specified. (Same as substring(string from start for count).

## Examples
[code]

## Reference
https://www.postgresql.org/docs/13/functions-string.html
https://github.com/postgres/postgre

[2021-08-19 06:01] panarch opened #298 "Time-travel query support"
A time-travel query returns data as it appeared at a specific time.

e.g.
[code]

Thanks to snapshot based structure, it is easy to add support of time-travel queries.
Users can access historical data using this feature.
ref.
https://www.cockroachlabs.com/blog/time-travel-queries-select-witty_subtitle-the_future/

To support time-travel queries, gc must not delete snapshot data until the configure

[2021-08-19 11:54] panarch commented on #197
@tmdgusya How about taking this issue for the next one?

Not like the function issue which you've done really well before, it is expected to change only a single file to fix this behavior (+ add test code).
* [src/data/row.rs](https://github.com/gluesql/gluesql/blob/main/src/data/row.rs)

[2021-08-19 14:09] tmdgusya commented on #197
ok i take that

it is to changed insert query accepted to null ommitting?

[2021-08-19 14:11] panarch commented on #197
@tmdgusya Yes, that's right. you can think that `NULL` option also includes `DEFAULT NULL` if there's no `DEFAULT` value.

[2021-08-19 14:18] tmdgusya commented on #197
oh thanks, i understand

I'll fixed that if property of coulumn is NULL then column's set default value null
it's right way?

[2021-08-19 14:20] panarch commented on #197
@tmdgusya Yup, 👍

[2021-08-20 05:44] panarch opened #299 "Implement modulo(`%`) binary operator"
e.g.
[code]

Following tasks are expected to be done
* add `fn modulo` to `data/value/mod.rs`
You can also add unit tests of this new `modulo` fn, there's a existing test case named `arithmetic` and you can use it.

* add `fn modulo` to `data/literal.rs`
Similar to `Value`, but.. there's lack of unit tests though it is required.
You need to add a new one.

* add `fn modulo` to `execute/evaluate/ev

[2021-08-20 05:47] panarch opened #300 "Update `DIV` & `MOD` to use `divide` & `modulo` functions in `Evaluated`"
Current `DIV` and `MOD` implementation works separately with `Evaluated`'s `divide` and `modulo`.
Let's merge these to use `Evaluated`'s implementation.

Prior issue to be done first - https://github.com/gluesql/gluesql/issues/299

ref https://github.com/gluesql/gluesql/pull/295

[2021-08-20 06:33] #264 closed

[2021-08-20 06:33] #273 closed

[2021-08-20 06:34] panarch commented on #267
ref. https://github.com/ballista-compute/sqlparser-rs/pull/331

[2021-08-20 07:07] MRGRAVITY817 commented on #299
I'll do those tasks 👍

[2021-08-20 07:08] MRGRAVITY817 commented on #300
I will update those functions with issue #299

[2021-08-20 08:53] #276 closed

[2021-08-20 08:57] panarch opened #301 "Wrapper function for `SledStorage::check_retry`"
`match` statement with `check_retry` appears many times in `store_mut.rs`, `index_mut.rs` and `alter_table.rs`.
We can add a shared function to wrap this statement.

https://github.com/gluesql/gluesql/blob/bfb89fb6a1666885261a33bf4aaf86b09a340d05/src/storages/sled_storage/store_mut.rs#L59-L63

https://github.com/gluesql/gluesql/blob/bfb89fb6a1666885261a33bf4aaf86b09a340d05/src/storages/sled_storag

[2021-08-21 08:41] MRGRAVITY817 opened #306 "Update binary operator `/` to return custom error when the divisor is zero."
Current implementation for binary operator `/` panics out when the divisor is `0`.
[code]
I think it would be nice to return a custom error for this.

This should also be considered when implementing `%` operator #299

[2021-08-21 13:06] panarch commented on #306
Sounds so good! and it would be good to make a separate PR for this issue then I'll quickly review and merge it. Thanks for reporting.

[2021-08-21 13:31] #279 closed

[2021-08-21 13:40] panarch opened #308 "`PRIMARY KEY` not supported error is required"
`PRIMARY KEY` is not supported yet.
However GlueSQL allows `CREATE TABLE SingleItem (id INTEGER PRIMARY KEY)` but do nothing for `PRIMARY KEY` attr.
Until the feature is implemented, it should be an error.

It is expected to play with codes in https://github.com/gluesql/gluesql/tree/main/src/executor/alter

[2021-08-21 15:24] panarch opened #310 "`{number} / {interval}` should not be allowed"
[code]
These above make sense.
However,
[code]
This is not, but current GlueSQL executor supports `number / interval` binary op.
ref https://www.postgresql.org/docs/9.1/functions-datetime.html

Both in `Literal` and `Value`.

* Literal
[code]

* Value
[code]

needs to be removed.

[2021-08-21 15:49] heka1024 commented on #308
I'll try it!

[2021-08-23 04:25] #268 closed

[2021-08-23 04:34] panarch opened #313 "Remove `PRIMARY KEY` use cases in integration test"
ref https://github.com/gluesql/gluesql/issues/308

`PRIMARY KEY` column options are being used in some intergration test codes.
The codes which are using this option needs to be removed for now.
Current GlueSQL does not support `PRIMARY KEY` (clustered index).

[2021-08-23 04:35] panarch opened #314 "`ILIKE` and `NOT ILIKE` support"
`ILIKE` and `NOT ILIKE` are case-insensitive `LIKE` and `NOT LIKE`.

ref https://github.com/gluesql/gluesql/pull/252

[2021-08-23 05:10] #313 closed

[2021-08-23 08:08] maruoovv commented on #314
@panarch  I'll work on this issue

[2021-08-23 13:46] panarch opened #317 "`CAST` from string to `DATE`, `TIME` and `TIMESTAMP`"
Current `CAST` function does not support converting from string to date types (`DATE`, `TIME` and `TIMESTAMP`)

https://github.com/gluesql/gluesql/blob/ddef41798fddf067d4582e0a3e683366f023fc45/src/executor/evaluate/evaluated.rs#L141-L150

Two cast functions need to be updated.
+
* cast in `Value` - it would be good to add new casts to unit tests in the [value/mod.rs](https://github.com/gluesql/glu

[2021-08-23 13:55] No-YE commented on #317
I'll take this issue. Thank you.

[2021-08-23 14:05] #269 closed

[2021-08-23 14:14] panarch commented on #310
This is resolved by @MRGRAVITY817 in #309

@MRGRAVITY817 Thanks!

[2021-08-23 14:14] #310 closed

[2021-08-23 14:32] MRGRAVITY817 commented on #300
One thing to point out, that the behavior of `/` operator and `DIV` aren't same.
Tested on postgreSQL,
[code]
Seems like `/` operator **can** return `float` when dividend or divisor is `float`, whereas `DIV` returns `integer` quotient for any numeric type.

Well of course, this ain't a big deal since all I need to do is to convert the result of `/` to `i64` for `DIV` 🍰 .

Reference
---
https://www

[2021-08-23 14:37] panarch commented on #300
Thanks, that's really a good detail.
PostgreSQL's way that you suggested sounds reasonable.
I also agree about `DIV` function to return only `i64` type.

[2021-08-23 15:30] #272 closed

[2021-08-24 06:07] MRGRAVITY817 commented on #306
@panarch Since this issue is resolved, I think it should be closed.

[2021-08-24 06:08] panarch commented on #306
Oh I missed it, thanks a lot!

[2021-08-24 06:08] #306 closed

[2021-08-24 06:10] #266 closed

[2021-08-24 06:51] simple6192 opened #320 "Implement Function: `EXTRACT()`"
Trying to add Date/Time function `EXTRACT() `

`EXTRACT( A )` : Extract year, month, day, hour, minute, second from timestamp, time, date, interval
[code]

[2021-08-24 06:52] MRGRAVITY817 commented on #300
Oh, and also `DIV` cannot do `{interval} / {numeric}` as well. Only `numeric`s are supported.
Since there are quite a lot of differences ... maybe I should leave the `DIV` as it is, and implement only `%` -> `MOD`.

[2021-08-24 07:59] panarch commented on #300
That also makes sense.

Nice details you've catched. I also agree, thanks!
Sounds reasonable to handle `DIV` and `/` separately.

[2021-08-25 04:26] panarch opened #324 "`CAST` from string to `INTERVAL`"
Current `CAST` function does not support converting from string to `INTERVAL` data type.

https://github.com/gluesql/gluesql/blob/ddef41798fddf067d4582e0a3e683366f023fc45/src/executor/evaluate/evaluated.rs#L141-L150

Two cast functions are expected to be updated.
+
* cast in `Value` - it would be good to add new casts to unit tests in the [value/mod.rs](https://github.com/gluesql/gluesql/blob/main

[2021-08-25 04:30] devgony commented on #324
Let me try to fix this issue!

[2021-08-25 04:44] panarch opened #325 "Apply code coverage test to GitHub Action"
This issue is to apply `tarpaulin` code coverage tests to our GitHub Action.
ref. https://github.com/xd009642/tarpaulin#github-actions
ref. https://github.com/sqlparser-rs/sqlparser-rs/blob/main/.github/workflows/rust.yml

You can add a new action files for this, e.g. `.github/workflows/coverage.yml`

There are two tasks expected.
- [ ] When pull request is made, trigger code coverage test and sha

[2021-08-25 06:58] MRGRAVITY817 commented on #325
Seems like my kind of task. I'll take it 👍

[2021-08-25 10:57] #299 closed

[2021-08-25 10:57] #300 closed

[2021-08-25 10:57] #280 closed

[2021-08-25 14:18] ever0de commented on #282
Shouldn't it be closed?

[2021-08-25 14:30] panarch commented on #282
@ever0de Thanks!

[2021-08-25 14:30] #282 closed

[2021-08-25 14:32] ever0de commented on #267
There are currently two problems.
1. sqlparser does not support non-standard.
1.1 This should be supported according to the respective dialect.
1.2 However, implementation is put on hold by too many dialects.

2. `[ LEADING | TRAILING | There is no dependency between BOTH ]` <-> `[ characters text ]`.
2.1 This also needs to be fixed in sqlparser. Proceed with revision 1.

[2021-08-26 08:36] panarch opened #328 "Replace macros to normal closure or function in `translate/function.rs`"
There are three macros `aggr`, `func_with_one_arg` and `func_with_two_arg` which can be replaced by normal Rust functions or closures.

https://github.com/gluesql/gluesql/blob/b9d9d69bd44393d0501f0ec84ba9f270d11e4266/src/translate/function.rs#L54-L87

[2021-08-26 13:35] panarch opened #329 "Add `PartialEq` and `PartialOrd` unit tests to `Literal`"
https://github.com/gluesql/gluesql/blob/23e0e875f307cf5d8187e70eac1a3765d6a3ea5e/src/data/literal.rs#L68-L103

There is no unit test for `PartialEq` and `PartialOrd` impl in `Literal`.
Let's add it :)

[2021-08-28 04:43] #285 closed

[2021-08-29 08:11] djKooks commented on #275
@panarch I've just checked your PR for in-memory storage, and have some question.
In this PR seems directory looks like

[code]
and no separate `Cargo` file in each storage.

So are you thinking of when somebody wants to use `in_memory` version of gluesql, to make install as

[code]
or such as
[code]

which one is correct?

[2021-08-29 12:17] #267 closed

[2021-08-29 12:40] panarch commented on #275
Memory storage just follows current directory structure, so you don't need to be bother by that.
Currently, I'm also not sure what would be the proper structure to do so..
After you've done applying `workspace`, then I'll also apply the same pattern to memory storage.

The answer for the question is certainly [A]

gluesql = { version = "0.x", features = ["in_memory"] }

[2021-08-29 13:55] djKooks commented on #275
@panarch thanks for confirm.
Please also review here when you have time 🙏
https://github.com/gluesql/gluesql/pull/288

- How do you think of workspace directory style?
- Please let me know how to test this change

[2021-08-29 14:19] panarch commented on #275
Ah, ok. What I thought was "workspace", it literally workspace.

https://doc.rust-lang.org/book/ch14-03-cargo-workspaces.html

Each workspace can have it's own `Cargo.toml` but it does not mean that it has it's own version.
I also hope that I can provide detailed direction about this, but I'm also not sure what it can be possible to do. I also need to spend time for figuring out what to do.

I don

[2021-08-30 07:28] panarch commented on #329
ref. https://github.com/gluesql/gluesql/pull/332

[2021-08-30 07:28] #329 closed

[2021-08-30 12:10] #314 closed

[2021-08-31 05:55] boomkim commented on #197
Thanks @tmdgusya to clarify the task.

Let me follow this issue.

[2021-09-03 16:57] panarch opened #336 "Change table_name type from `&str` to `ast::ObjectName`"
Current parser supports dot(.) separated table name but GlueSQL does not support it.

https://github.com/gluesql/gluesql/blob/76a848514e8fff909bce524736b25d5cc74252b1/src/data/table.rs#L52-L56

There is no special reason not to use `ObjectName`.
This issue is for replacing all `&str` typed `table_name` to use `ObjectName`.
Store trait method param changes are also required.

[2021-09-03 17:07] panarch opened #337 "Apply `bigdecimal` feature to `sqlparser-rs`"
`sqlparser-rs` provides `bigdecimal` as an optional feature.
Currently, `bigdecimal` is not being used in here.
So `Literal::Number` contains `String`, but it would be better to use `bigdecimal`.
Then, we don't need to parse `String` to `i64` or `f64` in execution layer.

In https://github.com/gluesql/gluesql/blob/main/src/data/literal.rs
We can clean up all binary operations between number values

[2021-09-04 08:04] djKooks commented on #275
@djKooks

oh, it's my mistake. Ignore this part.

I'm trying to follow the structure you're doing in for in-memory storage. Will share if there's a progress 🙏

[2021-09-05 12:55] maruoovv opened #338 "Add UUID data type"
https://www.postgresql.org/docs/current/datatype-uuid.html

UUID data type is Universally Unique Identifiers (UUID)

[2021-09-05 12:55] maruoovv commented on #338
I'll work on this issue.

[2021-09-05 16:29] heka1024 opened #340 "Support `PRIMARY KEY`"
Currently, `GlueSQL` lacks of some column_constraints like `PRIMARY KEY`. It would be nice if we support that.

[code]

[2021-09-07 03:40] #308 closed

[2021-09-07 11:51] heka1024 commented on #278
I'll try it.

[2021-09-08 14:19] devgony commented on #337
Let me try it!

[2021-09-11 11:29] djKooks commented on #275
@panarch changed to https://github.com/gluesql/gluesql/pull/346 🙏

[2021-09-13 05:07] KyGost commented on #140
@MRGRAVITY817
If desired I have a working solution in https://github.com/SyRis-Consulting/multisql

[2021-09-13 05:18] panarch commented on #140
https://github.com/SyRis-Consulting/multisql/blob/0d4b7953add8509fae11dc259deca88e0ae23e27/src/executor/recipe/resolve.rs#L126-L148

@KyGost Sounds good to look around :)

Current status in this PR is also working well, we are now trying to make the code quality better and easier to read.
@MRGRAVITY817 has successfully removed `unwrap()` uses, and the only remaining stuff is eliminating `clone()`.

[2021-09-13 14:50] panarch opened #348 "Add iterator lifetime to `RowIter`"
Current
[code]

Planning to change
[code]

ref. https://github.com/gluesql/gluesql/pull/331
Then, we don't need to evaluate rows fetched in `MemoryStorage` `scan_data` implementation.

[2021-09-13 14:51] ever0de commented on #348
this is a very good change! 👍

[2021-09-14 06:43] panarch opened #349 "Simplify `evaluate_function` codes by adding macros"
This issue is to simplify `Nullable` enum control flow using declarative macro.

https://github.com/gluesql/gluesql/blob/de7310602376533f2dee87a863841f225f729179/src/executor/evaluate/mod.rs#L175-L191

When `Nullable::Null` comes, it always returns `Ok(Evaluated::from(Value::Null))`.
However, that result is also kind of success `Ok`. It cannot be handled by try operator `?`.
It would be good to us

[2021-09-14 13:17] vbbono commented on #349
Thanks! Assign to me :D

[2021-09-15 02:18] Seng43 opened #350 "Bitcoin Price Today Drops Below $45,000, Cardano, Binance Tank; Top Cryptocurrency Rates"
![image](https://user-images.githubusercontent.com/90725111/133359417-3aa4bea3-ad27-4c35-bbef-fe07df076e9a.jpeg)

Bitcoin on Tuesday, at 0803 hours IST was trading at $52,690.46, up 1.78 per cent. However, the market cap of the largest currency stood $989.85 billion. With Bitcoin, Ethereum and Cardano, both were trading in the green. Ethereum was up 0.45 per cent to $3,944.58, Cardano was down 0.9

[2021-09-15 02:19] #350 closed

[2021-09-15 04:03] panarch opened #351 "MemoryStorage `ALTER TABLE` query support"
Current `MemoryStorage` has only implemented `Store` and `StoreMut` traits.
This issue is for adding `AlterTable` store trait impl for `MemoryStorage`.

ref.
https://github.com/gluesql/gluesql/blob/main/src/storages/memory_storage/alter_table.rs

[2021-09-15 11:56] #324 closed

[2021-09-15 13:31] #293 closed

[2021-09-16 04:21] panarch opened #354 "`XOR` binary operator support"
ref. https://mariadb.com/docs/reference/mdb/operators/XOR/

This is a logical operator `XOR` (not bitwise) which accepts two boolean expressions and return boolean value.
Unlike `MariaDB` reference, it would be enough not to consider numeric values. Let's just accept only boolean values.

`{boolean} XOR {boolean}` => `{boolean}`
[code]

#### Add `XOR` binary op to `sqlparser-rs` (prior issue)

ref

[2021-09-16 04:32] zmrdltl commented on #354
i'll do this!

[2021-09-19 08:32] panarch opened #357 "Add `TryInto<f64, i64 and String> for Evaluated`"
https://github.com/gluesql/gluesql/blob/86d5078f9e766a3465577c035b690e964712580f/src/executor/evaluate/evaluated.rs#L33-L42

There exists some inappropriate use case of `TryInto<Value> for Evaluated`.
`eval_to_str`, `eval_to_float` and `eval_to_integer` closures in `evaluate_function - executor/evaluate module` are not supposed to use `TryInto<Value>`.
They need direct conversion from `Evaluated`

[2021-09-20 06:03] panarch commented on #354
ref. https://github.com/gluesql/gluesql/pull/359

[2021-09-20 06:03] #354 closed

[2021-09-20 06:14] zmrdltl commented on #28
Let me do this!

[2021-09-20 07:28] #189 closed

[2021-09-27 12:30] ever0de commented on #197
I think I need to close this issue.
Please note #361

[2021-09-27 12:37] panarch commented on #197
@ever0de Oh, it looks that `fix #issue` like keyword only works when it exists in the PR content. Thanks :)

[2021-09-27 12:37] #197 closed

[2021-09-29 13:08] maruoovv opened #364 "ADD random_uuid function"
If there is uuid generate function, it is better to use the uuid datatype.
random_uuid function generate random uuid data type(u128)

[code]
|uuid|
|---|
|195965723427462096757863453463987888808|

[2021-09-30 02:47] #338 closed

[2021-09-30 02:47] panarch commented on #196
ref #364

[2021-09-30 02:47] #196 closed

[2021-10-01 06:40] #328 closed

[2021-10-03 13:27] slhmy commented on #151
Hello~ I'm new here.
🤔 Can we use the executor's `fn evaluate()` to solve this problem?

[2021-10-03 15:55] heka1024 commented on #278
I think it is a more complex issue than expected. Because we should know table's schema when assign `id` to each row. But in `translate` layer, there is no way to get it. So probably we should handle it in  `plan` layer.

[2021-10-03 21:03] KyGost commented on #151
Unless if GlueSQL has changed significantly internally since I last worked on it, this is a pretty deep issue which requires changing contexts and a number of processes.

For this to work, aggregate context needs to have access to multiple values &| precalculated values.

IMO, ideally you would just use a generic evaluate for them each, when last I worked on this codebase, aggregates had their own

[2021-10-04 05:42] panarch opened #373 "MemoryStorage `TRANSACTION` support"
Let's have transaction queries for MemoryStorage. :)

MemoryStorage is a very tiny in-memory storage implementation.
Unlike SledStorage, we don't need to care concurrent scenario for MemoryStorage because it only runs in a single thread.
Simple but it would be really good to look around how GlueSQL's optional store traits work.

[2021-10-09 16:51] MRGRAVITY817 opened #378 "Implement `prelude` for userside APIs"
## `lib.rs` is exporting relentlessly...
Currently all modules are exported like this from `lib.rs`.
![image](https://user-images.githubusercontent.com/41038636/136666994-3cc18d99-b331-4d31-842a-638860152507.png)

This can cause situations like importing `Value` from `crate::Value` or `crate::data::Value`, which can be confusing.
Maybe it's time to:

- [ ]  Extract userside APIs (`data::Value`, `R

[2021-10-12 13:40] panarch opened #381 "Invalid `INTERVAL` text format does not generate error."
`INTERVAL '3 MONTHS 2 DAYS'` input can reach `IntervalError::Unreachable` which is not supposed to be reached.
The parser currently not supports `INTERVAL '3 MONTHS 2 DAYS'` like format, but it returns `Interval` with `leading_field: None` and `last_field: None`.

We need to change `IntervalError::Unreachable` error to reachable error and add an test case for this.

[2021-10-13 05:32] simple6192 opened #382 "Implementing `now()` Function"
Trying to add Timestamp function `now()`

`now()` : function returns the current date and time.

`ex. SELECT now();   -> 2021-10-13 05:32:36.175627`

[2021-10-13 13:20] devgony opened #383 "Should be able to select the columns not appeared in the GROUP BY clause?"
# Currently in gluesql, we can select the columns not appeared in the GROUP BY clause.
`GlueSQL 0.8.0`
[code]

## In most databases, Above query throws a error.
`Oracle 19.13.0.1.0`
[code]
`Postgres 13.1`
[code]
`Mysql 8.0.26`
- mysql seems like able to control the error with sql_mode parameter
[code]

## In Gluesql, should we throw the error or not?<br>or If there is other opinion, feel free to s

[2021-10-13 13:54] #140 closed

[2021-10-13 15:42] heka1024 opened #384 "Support `INT(32)` data type"
Like `MySQL` and `PostgreSQL`, many sql engines support a wide range of integers. For example, `MySQL` has a numeric type `TINYINT` which range is -128 to 127. Like this, it would be nice if we support such a wide range of integers.

[2021-10-14 10:21] panarch opened #385 "Factorial(`!`) unary operator support"
e.g.
[code]

https://github.com/sqlparser-rs/sqlparser-rs/blob/c9f8a44b558a366365ee8d338d61536f2c3804f3/src/ast/operator.rs#L18-L37

We can use `sqlparser::ast::UnaryOperator::PGPostfixFactorial`.
It would be enough to set name for our AST simply as `gluesql::ast::UnaryOperator::Factorial`
e.g.
[code]

[2021-10-14 12:14] panarch opened #386 "Remove `Cow` from `Evaluated::Value`"
Now `Evaluated::Value(Cow::Borrowed(_))` is not being used.

We can replace `Evaluated::Value(Cow<'a, Value>)` to `Evaluated::Value(Value)`.

[2021-10-14 12:14] panarch commented on #386
@MRGRAVITY817 Thanks 👍

[2021-10-14 12:35] panarch opened #387 "Add unit tests to `data/value/into.rs` module"

[2021-10-15 10:19] panarch commented on #281
ref. https://github.com/gluesql/gluesql/pull/331

@ever0de Thanks a lot! I forgot to link this issue to the PR.

[2021-10-15 10:19] #281 closed

[2021-10-15 14:42] ever0de commented on #364
This is not linked to the PR, but it should close as #196 completes.

[2021-10-16 17:22] #349 closed

[2021-10-18 06:06] ever0de opened #390 "Add `INT(8)` data type"
### Please check the following

- [ ] This data type is 1byte
- [ ] Parsing in `sqlparser-rs`: <https://github.com/sqlparser-rs/sqlparser-rs/blob/main/src/parser.rs#L2045>
    - Ex result) `sqlparser::DataType::Int(Option<u64>)`

### In the future
numerics can be implemented efficiently by grouping them into modules once more in `Value`.

[2021-10-19 11:41] ever0de commented on #301
How about making a Trait that does retry?

ex)
[code]

[2021-10-20 13:38] maruoovv opened #393 "Support Common Table Expressions"
If gluesql supports CTE(Common Table Expressions) It will be useful.

Common Table Expressions, use a WITH clause that has one or more comma-separated subclauses.
Each subclause provides a subquery that produces a result set, and associates a name with the subquery.

[code]

First, I will implement Non-recursive CTE.

ref)
https://www.postgresql.org/docs/9.1/queries-with.html
https://dev.mysql.com

[2021-10-21 08:13] panarch opened #394 "Support `Expr::MapAccess`"
sqlparser-rs v0.11 now supports nested map access.
ref. https://github.com/sqlparser-rs/sqlparser-rs/pull/356

e.g.
[code]
SQL query like above is now accepted by the parser.
This issue is to add support `Expr::MapAccess` to `MAP` and `ARRAY` types.

There already exists similar GlueSQL specific function with name of `UNWRAP`.
We can use different behavior for `MapAccess`.
`UNWRAP` basically does

[2021-10-24 06:07] MRGRAVITY817 opened #398 "Add examples for `MemoryStorage`"
Current files in `examples` are focused on using `SledStorage`.
Users might want to know how to use `MemoryStorage`.

[2021-10-25 06:59] boomkim opened #399 "Minor typo: `big_edian` -> `big_endian`"
We have a module named `big_edian` which needs just one more letter `n`.

If it wasn't intentional, I'll fix it.

[2021-10-30 10:45] #301 closed

[2021-10-31 12:54] ever0de commented on #65
Now supports lists. Can I close the issue?
Merged PR: <https://github.com/gluesql/gluesql/pull/370>
Test code: <https://github.com/gluesql/gluesql/blob/74bfd107b7e5d30ed163d865e5e84efdb4a482c7/src/tests/data_type/list.rs>

[2021-11-01 12:14] panarch commented on #65
In fact, it is a bit different.
`LIST` allows any `Value` for its element.
However, `ARRAY` type only allows same type for every element.

`INTEGER[]` -> integer array
`LIST` -> any `Value` can be in the `LIST`.

However, there's no plan for supporting same type array datatype for now.
I'll close this, and we can consider whether to support array type or not later if other user requests.

[2021-11-01 12:14] #65 closed

[2021-11-05 11:46] #351 closed

[2021-11-05 11:47] ever0de opened #401 "Convert `TrySelf` to `(Storage, Result<_, Error>)` which implements `Try.V2`"
If [Try.V2](https://github.com/rust-lang/rust/issues/84277) becomes stable

You can change the contents of `MutResult` in the following form.
`(Storage, Result<_, Error>)`

If you implement Try, you can simplify error handling like `tuple?` rather than `tuple.1?`.
You can clear TrySelf.

This issue starts when Try enters the stable.

[2021-11-06 15:21] devgony opened #404 "Support CTAS(Create Table As Select ~) statement"
## Let's support CTAS(Create Table As Select ~) statement

### Usage
[code]

[2021-11-10 12:58] #337 closed

[2021-11-14 12:23] panarch commented on #28
#368

[2021-11-14 12:23] #28 closed

[2021-11-15 04:09] zmrdltl opened #405 "Support `unary operator` unit test"
In /src/data/literal.rs, unary operator (plus, minus, not) unit test support needed.

[2021-11-15 14:20] #405 closed

[2021-11-16 14:02] Snowapril commented on #394
If there is nobody working on this issue, can I try this? 😊

[2021-11-16 14:13] ever0de commented on #394
Because there is no issue manager, It seems like you are free to work on it first.
Even if it was working, the maintainer would have been working on it.

[2021-11-16 14:15] panarch commented on #394
Sure!

[2021-11-17 12:40] ever0de commented on #378
ref #388

[2021-11-17 12:40] #378 closed

[2021-11-17 12:44] MRGRAVITY817 commented on #63
Seems like my kind of stuff. I'll take this.

[2021-11-28 14:23] ever0de opened #415 "Support multiple queries in String"
Currently, we seem to assume that there is one query per string.

guess) but the user can put all the queries in one string.
See previous README.md: <https://github.com/gluesql/gluesql/tree/e57f16986d90a3b7c71c673172cddc64c7c41bfb>

in `glue.rs/L30..36`

[code]

you should change the return type.

Starting with `Glue::execute_stmt_async` ~ `plan` method , let's specify `Vec<Payload>` in backwards

[2021-11-28 14:24] ever0de commented on #415
If this function is not supported in the future, error handling will be required.
For example, the `plan` level does not support multiple queries.

[2021-12-01 11:27] #385 closed

[2021-12-01 13:23] panarch opened #417 "Support `SetExpr::Values` in `select` module"
Current `select` module does not support `SetExpr::Values`
ref.
https://github.com/gluesql/gluesql/blob/874710024e5a3d6df7925a834ac80927433f7445/src/executor/select/mod.rs#L161-L172

However, it is already being implemented and used in handling `INSERT` query.
https://github.com/gluesql/gluesql/blob/874710024e5a3d6df7925a834ac80927433f7445/src/executor/execute.rs#L171-L176

Let's merge this `SetEx

[2021-12-01 13:38] panarch opened #418 "Support `SELECT * FROM (VALUES (1)) t1 (INTEGER);` like queries"
[code]

This query is supported by `sqlparser-rs` but not us.
GlueSQL returns `Translate(UnsupportedQueryTableFactor("(VALUES (1)) AS t1 (INTEGER)"))` error.

[2021-12-01 13:51] panarch commented on #418
blocked by #417

[2021-12-01 13:59] ever0de commented on #415
I'll edit the issue a bit.
Do not accept multiple statements in the `execute` function.
Starting with `Glue::execute_stmt_async` ~ `plan` , let's specify `Vec<Payload>` in backwards compatibility.

[2021-12-01 14:45] ever0de commented on #415
This is a duplicate issue. ref: #258

[2021-12-01 14:45] #415 closed

[2021-12-01 15:58] devgony opened #419 "Support `ORDER BY` clause with ColumnPosition"
## ORDER BY clause syntax
[code]
Currently `ORDER BY` clause with ColumnPosition is not supported
- sqlparser-rs does not support to parse `ORDER BY ColumnPosition` now.

## Examples
[code]
### 1) Can sort with ColumnPosition when we don't know ColumnName
[code]
| A | B | C | D     |
|---|---|---|-------|
| 2 | 1 | 2 | User  |
| 1 | 2 | 3 | Admin |
| 3 | 3 | 1 | Guest |
### 2) Can sort with Column

[2021-12-02 14:06] panarch opened #420 "Remove `sorter` optional feature, enable `ORDER BY` for non-indexed expr by default"
`sorter` is an optional feature which enables `ORDER BY` query for non-indexed expr.
This option is for storage makers to have precise memory usage control, because `ORDER BY` for non-indexed expr forces loading all rows to memory.
However, current executor has another examples (e.g. `GROUP BY`, ..) which load target rows to the memory, but there's no feature to prevent this.
For the consistency,

[2021-12-03 02:35] devgony opened #421 "Support `ROWID` Pseudocolumn"
## The `ROWID` pseudocolumn is the address of each row in the database.
## `ROWID` values have several important uses:
- They are the fastest way to access a single row.
- They can show you how the rows in a table are stored.
- They are unique identifiers for rows in a table.
## Examples
### Oracle
[code]
**ROWID**|**A**
:-----:|:-----:
AAAji5AAAAAAANmAAA|1
### Postgres
[code]
**CTID**|**a**
:----

[2021-12-03 02:43] devgony commented on #417
Let me try this issue!

[2021-12-03 11:37] panarch commented on #284
#352

[2021-12-03 11:38] #284 closed

[2021-12-05 13:40] zmrdltl opened #423 "Update aggregate functions to support `Expr`"
## Description
The [get_value](https://github.com/gluesql/gluesql/blob/main/core/src/executor/aggregate/state.rs#L241) of the existing `closure of function accumulate` determines the value after parsing the parameter to be entered into the function in the enum `Expr`.  It supports only some of the Expr syntax and returns a value, otherwise it returns an error.

Currently supported parameter
1. `Ex

[2021-12-05 13:58] panarch commented on #423
e.g.
[code]

[2021-12-06 13:41] #404 closed

[2021-12-08 13:25] ever0de opened #424 "Add arithmetic operation enum for Error types"
[code]

We currently define the error types as follows:

[code]

However, if you have an arithmetic operation as an operator, it will be resolved with one error type.

[code]

[2021-12-08 13:26] ever0de commented on #424
ref: <https://github.com/gluesql/gluesql/pull/407/files#diff-36c814425eac10888a46489d522e6ca31f8b426e4890bf563e03291420e8b7c7R135-R141>

[2021-12-08 13:51] ever0de opened #425 "Add unit tests for `data/value/literal.rs`"
Add a test case for the function below.

- [ ] `try_from_literal`
- [ ] `try_cast_from_literal`
- [ ] `TryFrom`

[2021-12-11 07:39] ever0de opened #427 "Supports arithmetic operation between Decimal and primitive types"
ex)
- Decimal + i64 = Decimal
- Decimal + f64 = Decimal
...

[2021-12-11 07:50] ever0de opened #428 "Support arithmetic operations for Decimal and Null."
It would be good to move Decimal to binary_op and do it together.

[2021-12-11 08:07] ever0de opened #429 "Add missing assert macro"
Fix list

https://github.com/gluesql/gluesql/blob/95f3f8822cab9f1f3eb322ad220ff31328a607a8/src/data/value/mod.rs#L560-L564

https://github.com/gluesql/gluesql/blob/95f3f8822cab9f1f3eb322ad220ff31328a607a8/src/data/value/mod.rs#L707-L718

[2021-12-11 08:15] ever0de commented on #429
dependency: #428

[2021-12-11 08:16] #390 closed

[2021-12-11 08:37] ever0de opened #430 "Support CAST from other data types to decimal"
## SQL Example

[code]

## Solution

- `data/value/into.rs`

Implement `TryInto<Decimal>` for  Value, &Value

- `data/value/mod.rs/cast`

Add try_into from other data types to decimal in cast function

[2021-12-11 08:47] ever0de opened #431 "Support unsigned INT8 unary factorial"
## SQL Example

[code]

## Solution

- [ ] Implement `data/value/mod.rs/unary_factorial` about `INT(8)`

[2021-12-11 08:53] ever0de opened #432 "Factorial should only support unsigned integer"
## Action

- [ ] Rename `ValueError::FactorialOnNonNumeric` to `ValueError::FactorialOnUnsignedInteger`

[2021-12-11 12:08] #428 closed

[2021-12-11 12:53] panarch commented on #420
ref https://github.com/gluesql/gluesql/pull/435
After removing `sorter` feature, additional tests would be required to verify not to apply `ORDER BY` twice (after `ORDER BY {expr}` is indexed, then it must be removed.)

[2021-12-11 16:03] #429 closed

[2021-12-11 16:04] #399 closed

[2021-12-15 13:46] ever0de opened #439 "Let's move the const in the file into the struct according to the usage"
## Before

https://github.com/gluesql/gluesql/blob/3776b1b59fa9922a458bd34847277efd8c965a1e/src/storages/sled_storage/metadata.rs#L14

## After

[code]

## Effect

Reuse is a bit easier, and the meaning becomes clearer.

[2021-12-31 05:32] #46 closed

[2021-12-31 05:32] #226 closed

[2021-12-31 05:33] #382 closed

[2022-01-04 07:45] ever0de opened #448 "Update clap rc version to 3 in cli"
now clap latest version: <https://github.com/clap-rs/clap/releases/tag/v3.0.1>

<https://github.com/gluesql/gluesql/blob/bab5c4d21077f350e26fde8bdf47cf78d3173d30/cli/Cargo.toml#L12>

[2022-01-04 15:00] #448 closed

[2022-01-07 11:16] #420 closed

[2022-01-07 13:33] GeeWee opened #452 "Is it possible to construct an in-memory database from bytes?"
Apologize if this is answered in the documentation somewhere, but I was unable to find it.

I have a static set of data, that I would like to be able to index and query efficiently from short-lived processes. (Rust compiled to wasm at Fastly's compute@edge network)

I would like to be able to create my database once, and embed it into my application binary, perhaps by writing it to a file and usin

[2022-01-07 14:43] panarch commented on #452
Thanks a lot, currently there's no official import/export support by `Store` trait or something else.
In the current structure, it is possible to import/export, but in a very.. bothersome way.

Through this PR(https://github.com/gluesql/gluesql/pull/453), I've applied Serde to `MemoryStorage`, so it would be useful for your use case.

[2022-01-09 10:05] ever0de opened #464 "Make bump verison script"
To publish, we have a dependency.

We want the deployment to be like this:
1. utils
2. core
3. test-suite
4. storages/*

[2022-01-10 08:23] GeeWee commented on #452
Awesomet! Thanks. I think that'd be enough for my usecase.

[2022-01-10 08:23] #452 closed

[2022-01-10 15:41] panarch opened #468 "`memory-storage` and `sled-storage` features not working"
[code]

This kind of config should work but it does not.

[2022-01-10 16:20] ever0de commented on #468
In the test code, it works fine, but it seems that the external features are not enabled.
Maybe the optional is treated as the original name rather than the package name..

[2022-01-10 16:32] ever0de commented on #468
As a result of testing locally based on main, it works.
Perhaps the 0.10.1 version did not include the <https://github.com/gluesql/gluesql/commit/091765d3fc5eb14096c3471790e5a689c4813850> commit.

[2022-01-10 16:59] ever0de commented on #468
<https://github.com/rust-lang/crates.io-index/blob/44565e6fdc91fdacd2c117cea883f47e1fdf5e6b/gl/ue/gluesql#L33>
I also checked the reference above, and the gluesql- prefix remains in the default features.

[2022-01-11 11:38] panarch commented on #468
already fixed by https://github.com/gluesql/gluesql/pull/465

[2022-01-11 11:38] #468 closed

[2022-01-11 11:42] panarch commented on #464
[code]

[2022-01-13 07:44] #275 closed

[2022-01-13 07:45] djKooks commented on #275
Refactored by https://github.com/gluesql/gluesql/pull/442

[2022-01-26 10:08] boomkim opened #474 "Decimal supports precision and scale"
[code]

Currently, Decimal type supports only supports without any precision and scale.
Let's make decimal more useful with precision and scale.

[2022-01-26 16:36] boomkim opened #475 "Support DESCRIBE TABLES or INFORMATION_SCHEMA or something else to get tables schema"
Currently, we cannot check table's schema.
Let's have getter or print_schema() to get table's schema.

[2022-02-03 05:48] MRGRAVITY817 commented on #431
I'll take this one.

[2022-02-03 06:49] ever0de commented on #432
It already existed as a `FactorialOnNegativeNumeric` type.

[2022-02-03 06:49] #432 closed

[2022-02-03 08:26] ever0de commented on #431
ref: #477

[2022-02-03 08:26] #431 closed

[2022-02-03 10:09] MRGRAVITY817 opened #478 "Implement `Case` in `evaluate_stateless()`"
Currently `evaluate_stateless()` doesn't have implementations for `Case` expression.
Should add it because it can be used in case like `CHECK [constraints]`.

[2022-02-09 00:18] the-wondersmith opened #480 "Adding (Optional) Python Bindings To GlueSQL"
Hello again! I've been plugging away at a project that uses GlueSQL. It's a [PEP 249](https://www.python.org/dev/peps/pep-0249/)-compliant DB API v2 module for reading and writing a semi-obscure embedded, fixed-width / flat-file based "database" that's been EOL'd for... probably _decades_ at this point.

That's beside the point though - in the process of working on this project I've realized how _

[2022-02-09 06:44] MRGRAVITY817 opened #481 "Add a functionality to read-and-execute SQL file in GlueSQL CLI"
## Support SQL file read-and-execute
It would be nice to read `*.sql` files and execute queries inside it.
Below I suggest some usages.
### Using with command line argument
[code]
### Using inside the GlueSQL CLI
[code]

[2022-02-09 15:33] the-wondersmith commented on #480
**EXACTLY!**

Ok, I think your plan makes a _ton_ of sense. I'm thinking the `gluesql-py` workspace should compartmentalize:
  - The applicable `pyo3` trait implementations for all (or as many as is practical) GlueSQL structs and enums
    - Basically just make all GlueSQL-specific types directly usable as though they were native Python (or in this case built in to `pyo3`) types in a downstream pr

[2022-02-09 16:38] panarch commented on #480
Sounds perfect 👍

---

I definitely agree.

[2022-02-11 03:39] the-wondersmith commented on #480
@panarch I created [a new branch](https://github.com/the-wondersmith/gluesql/tree/gluesql-py) off of main (on my fork) and redubbed everything with the decided upon name - `gluesql-py`. Just wanted to make sure that everything matches up with what you had in mind before I start filling out the new workspace / submodule.

Would you mind terribly taking a look? Also, I've made you a collaborator on

[2022-02-12 01:03] kevingzhang commented on #384
If I need to use UINT(128), I know GlueSQL currently doesn't support 128bit int. Is there any workaround for this?
thank you in advance

[2022-02-12 04:20] ever0de opened #482 "Support `INT(128) unsigned` data type"

[2022-02-12 04:21] ever0de commented on #384
<https://github.com/gluesql/gluesql/issues/482>

It will be added when the next task is completed.
thank you

[2022-02-12 08:49] panarch commented on #480
Good start!

First, small ones,
1. You can add `.gitignore` to `gluesql-py/` workspace, it does not need to be included in root directory.

2. Execute for current ambiguity of root `Cargo.toml`'s role.
I saw that you modified `src/lib.rs` and `Cargo.toml` to export `gluesql-py`, but you actually don't need to do that.

In [Add necessary dependencies and configuration for pyo3 support](https://gith

[2022-02-12 13:19] panarch opened #483 "Convert `Store` trait type from Generic Type Parameter to Associated Type"
1. Remove `Debug` trait bound
2. Convert GTP to Associated Type

Expected change
[code]
to
[code]

`Debug` trait bound looks not really necessary to be included.

[2022-02-12 13:30] MRGRAVITY817 commented on #483
My pleasure 😀

[2022-02-23 15:42] ever0de opened #489 "Migrate the `gluesql-js` repository into the workspace"
ref: <https://github.com/gluesql/gluesql/issues/480>

We hope to add workspaces like `[gluesql(Rust), gluesql-js, gluesql-py]` in the future.

[2022-02-26 05:46] panarch commented on #480
No problem at all 👍
Keeping on the track without being exhausted is much more important than any other stuffs, I think.
Hope you to keep your own pace, we don't need to rush on it.

[2022-03-11 06:05] marvinpan8 opened #493 "support multi-threaded memory-sharing features"
Can the MemoryStorage support multi-threaded memory-sharing features? Like supporting MVCC

[2022-03-11 13:06] panarch commented on #493
Good suggestion, thanks.
I think it would be good to make another storage rather than adding multi-threaded feature to `MemoryStorage`. `SharedMemoryStorage` may work.

Limiting the scope to single-threaded makes codes extremely simple, as we see the codes in `MemoryStorage`.
I expected the role of `MemoryStorage` as, not just production-ready single-threaded in-memory storage, but also it can be

[2022-03-11 13:21] ever0de commented on #493
I'm going to take it as a sub task.
But since it can work for a very long time, anyone can take this issue.

[2022-03-18 15:23] pythonbrad commented on #398
Please @MRGRAVITY817 , can i have more explanation about it?

[2022-03-18 15:26] ever0de commented on #398
Just adding an example for memory storage in a folder at <https://github.com/gluesql/gluesql/tree/main/examples>

[2022-03-20 13:11] pythonbrad commented on #398
Ok thanks.

[2022-03-21 06:02] yujong-lee commented on #425
@ever0de I think this can be closed by #497.

[2022-03-21 07:04] ever0de commented on #425
good catch,
thank you!

[2022-03-21 07:04] #425 closed

[2022-03-28 06:54] KyGost opened #503 "Indexing/serialising negative numbers"
Per @KyGost & @panarch discord conversation, starting:
https://discord.com/channels/780298017940176946/780298017940176949/957870515706535997
ending:
https://discord.com/channels/780298017940176946/780298017940176949/957890136442560552

`i64::to_be_bytes()` doesn't convert negatives such that they will be sorted as less than positives.

Per @panarch simple and effective solution is to prepend a pos

[2022-03-28 07:34] Raj2032 opened #504 "Questions and suggestions"
Hi, I have some questions and suggestions regarding this project:
1. How does `gluesql` compare to `postgres` in regards to speed and feature wise?
2. How does `gluesql` compared to `isam` in regards to just performance?
3. Are there more features currently being worked on?
4. Does `gluesql` connect to a sql database server or does it simply deal with a file?
5. Lets say I wanted to select a speci

[2022-03-28 13:35] #503 closed

[2022-03-29 14:03] panarch commented on #504
Thanks for the good questions :)

For now, both speed and feature might not be comparable with `postgres`.
Mid-and-long term goal of `gluesql` is also aiming to cover what `postgres`'s area, but for now, it is quite different.
`gluesql` currently only works as an embedded sql db, so it would be better to compare with `sqlite` rather than `postgres`.
The main concern of `gluesql` is to provide same

[2022-03-30 12:25] Raj2032 commented on #504
@panarch Hey mate thanks for the response :)

I have some questions based on your response.

1. Just curious I thought gluesql would be faster than postgres as with postgres wouldn't you require to have some database server with postgres setup whereas with gluesql you are directly reading & writing to a file?
2. Sure you can use postgres with Rust but that would mean that Rust would have to send t

[2022-03-30 14:09] earney commented on #504
Is it possible to join two tables from two different gluesql databases?
For example, if one database is of type sled  (lets call the database sleddb) and another database is of type memory (memdb), is it possible to join tables from these databases?

select a.col1,  b.col1
from sleddb.table1 a,
         memdb.table1 b
where a.id=b.id

[2022-03-30 21:48] earney commented on #421
could this be emulated with something like?
rowid  unsigned Int  primary key

maybe create a speical datatype called rowid (that is really an unsigned int uint(128) that is a primary key?)

[2022-03-30 21:58] earney commented on #475
Just my opinion but shouldn't an information_schema be part of a db management system instead of a library such as gluesql?  I know the boundary is a gray area, but I'm wondering what others think?

[2022-04-02 13:41] panarch commented on #504
@Raj2032

I got the point. You're right, `gluesql` has certainly thinner layer. I assumed some complex queries which read big amount of data. The one reason that I said about the performance which `gluesql` would be slower than others is because of query planner. `postgres` provides much better query planning, so it could run quite faster than `gluesql` for complex sql queries.

Right, `gluesql` o

[2022-04-02 13:47] panarch commented on #504
Yes, it is possible but.. not implemented yet.
This kind of feature is not hard to implement but it is just because lack of my resource.

May be.. this kind of approach would be good to have
[code]

[2022-04-02 13:57] panarch commented on #421
@earney
`PRIMARY KEY` is on this year's plan. (I may be enough to finish it until this Summer).
After we have primary key, then it would be easy to support this feature, too.

The current issue is that we need to add a bound to the key but..
https://github.com/gluesql/gluesql/blob/76644d0a11df9e656f763962ae4472922d7c7481/core/src/store/mod.rs#L74-L80

`T` is being used for key representation, but

[2022-04-02 14:03] panarch commented on #475
@earney Thanks for the opinion

I think that this kind of feature is necessary to have because gluesql covers sql parser layer so without this, users cannot support `DESCRIBE TABLE` like queries. It is not easy to say what would be the enough returning information about this, but at least we need to provide something.

Somewhat this kind of approach may work (extending metadata)
e.g.
[code]

[2022-04-03 06:32] KyGost commented on #504
GlueSQL's sister project: [MultiSQL](https://github.com/KyGost/multisql/) has this as a key intent for the library.

---

That's a cool syntax.... I like it better than MultiSQL's...... Maybe I'll have to steal it at some point ;-))

---

There's *a lot* more to it than that.
As a simple and very crucial, single point: Postgre has far more people working on it and has existed for far longer and as

[2022-04-03 07:13] KyGost opened #511 "Benchmark Suite"
Per discord messages, starting [here](https://discord.com/channels/780298017940176946/780298017940176949/960070448685674537), it'd be awesome to have benchmark suites for both GlueSQL & MultiSQL for comparison.

Could be useful for highlighting areas where we differ and as such can improve.

Requesting assignment to myself; I'll look into this either tonight or at some point.

[2022-04-03 13:41] KyGost commented on #511
KyGost/multisql#45

[2022-04-04 02:39] KyGost opened #514 "Glue (Sled) pinning disk"
In the process of making & testing #513 I noticed that Glue pins the disk at full usage.
It seems to halt too, perhaps because of disk waits.

This occurs when inserting and doing operations on >200K rows (using SledStorage).

nb. MultiSQL is fine with this so it isn't a Sled issue.

[2022-04-04 02:40] ever0de commented on #514
First of all, I decided that it was close to a bug, so I added a bug label.
Please let me know if there are "improvements" that you need an option for.(If you need to label improvements)

[2022-04-04 02:50] KyGost commented on #514
I'd consider this a bug too.
Not sure what the cause is.

[2022-04-04 18:18] earney commented on #481
I believe this enhancement has been implemented and is currently in production.  Can this issue be closed?

[2022-04-04 18:56] earney commented on #258
Can we close this issue?  It seems to have been resolved in issue #415

[2022-04-05 02:29] ever0de commented on #258
This issue has not been resolved.
Please refer to <https://github.com/gluesql/gluesql/issues/415#issuecomment-983711473>.

[2022-04-05 02:31] ever0de commented on #481
Thanks for the report!

[2022-04-05 02:31] #481 closed

[2022-04-05 11:03] ever0de opened #515 "Support `CREATE DATABASE` syntax"
Starting with version 0.16.0 of `sqlparser-rs`, `CREATE DATABASE` syntax support starts.

[2022-04-05 14:45] earney commented on #515
Does this imply that we could have two or more databases in a single storage file?  ( I think it does, which is okay).

[2022-04-06 04:27] ever0de commented on #515
This means you can create multiple databases from a single `Glue` struct rather than a "single storage file".
This will be the same as the MySQL and PostgreSQL features we know.

[2022-04-06 13:49] earney commented on #286
Oracle solves this problem by introducing a table called dual, that contains only one row of dummy data.  The easiest way to implement something similar to a "select without table" would be to duplicate the dual table functionality.  To do this, every time a new database is created, we automatically create a table called dual (or some other name).  This maybe a band-aid solution, but oracle databa

[2022-04-10 00:32] ever0de commented on #387
fixed #518

[2022-04-10 00:32] #387 closed

[2022-04-10 20:29] earney commented on #283
pull request #510 implements this issue.  I believe it can be closed.

[2022-04-10 22:28] earney commented on #320
now and extract are both implemented in the current version (10.2).
The reason the above select statements do not work is because [from table] is not optional and a real tablename is required.  Another issue deals with the optional table syntax.
Can we close this issue?

[2022-04-11 00:58] Goinging98 commented on #283
Thank you!

[2022-04-11 00:58] #283 closed

[2022-04-12 14:12] ghost opened #520 "implement show indexes from table"
implement show index from table syntax

[2022-04-12 14:18] earney commented on #520
Yes, you are correct.  I'll try to fix the title.

[2022-04-12 16:13] earney commented on #520
If I'm viewing sqlparser correctly, it doesn't support show indexes syntax, so I put in an issues with the sqlparser team requesting that enhancement.

[2022-04-13 00:23] earney commented on #129
Maybe also provide a filter parm so that we only need to retrieve certain rows (ie where name = 10)

[2022-04-14 07:49] devgony opened #522 "Support `Inline view` (FROM clause subquery)"
### Currently GlueSQL supports subqueries at
- SELECT clause (Scala)
- WHERE clause (Subquery)
### But not yet
- FROM clause (Inline view)
### Examples
[code]
[code]
should return
[code]
It looks like similar with issue: #152 and is related with #417.
### Todo
- [x] Add initial test cases at `test-suite/src/inline_view.rs`
- [x] Add `TableFactor::Derived {subquery, alias}` at `core/src/ast/query.r

[2022-04-14 15:11] earney commented on #514
Anyone recommend some rust profiling tools?  That may help in figuring out where the bottleneck is.

[2022-04-15 11:23] ever0de commented on #514
I have no experience with profiling, but...

- <https://nnethercote.github.io/perf-book/profiling.html>
- <https://marketplace.visualstudio.com/items?itemName=vadimcn.vscode-lldb>

I think I usually use something like this:

[2022-04-15 18:01] earney commented on #514
Here's a profiler that might be of interest:
https://github.com/EmbarkStudios/puffin if anyone is interested.

[2022-04-16 12:33] Raj2032 opened #524 "Is there a way to do queries without programming it?"
For postgres or oracle, you know how you can do queries without having to code it?

is it possible with gluesql by any chance?

[2022-04-16 12:41] ever0de commented on #524
Does this mean you can use the query method of `postgres` or `oracle`?

gluesql now has a cli function. Here's how to install it:

[code]

[2022-04-16 12:44] ever0de opened #525 "Bump `sqlparser-rs` version to 0.16.0"
It's an internally known issue, but I'm posting it for public notice.

The change in sqlparser is bigger than you think, so it should be taken as a conversion(enhancement) point.

[2022-04-16 12:52] Raj2032 commented on #524
Yeah I guess so like for example I type in the prompt:

`select * from table`

in some prompt and it returns the results immediately without having to code.

So in the prompt I can just type `select * from table` and it will immediately return the results?

[2022-04-16 12:58] Raj2032 commented on #504
I see mate thanks :)

gluesql can deal with files, memory, NoSQL databases and even it can work with rest APIs only if we can implement Store trait.
[gluesql/core/src/store/mod.rs](https://github.com/gluesql/gluesql/blob/76644d0a11df9e656f763962ae4472922d7c7481/core/src/store/mod.rs#L74-L80)

Ah interesting this sounds great, thanks.

Thanks mate

[2022-04-16 13:01] Raj2032 commented on #504
@KyGost

Interesting, how is it now, is it stable and faster than gluesql?

Would multisql be compatible with this query thing? https://github.com/gluesql/gluesql/issues/524#issuecomment-1100655021

[2022-04-16 13:07] KyGost commented on #504
Much less stable. A bit faster.
Yup, there's a CLI. Not quite as extensive but has same functionality via SQL.
I need to release more docs to make it more easily usable in that sort of usecase.

[2022-04-16 13:18] Raj2032 commented on #504
@KyGost I see mate, thanks :)

[2022-04-16 13:48] ever0de commented on #524
Of course, if you have data in the table.

[2022-04-16 13:50] Raj2032 commented on #524
Ok thanks mate :) @ever0de

[2022-04-17 00:09] earney opened #526 "concat function behavior"
A question for you all..

Different databases implement the concat function differently.  Some databases return NULL if one or more of the arguments to concat is NULL, while other databases just ignore the NULLS and returns everything else concatenated together.  The current concat implementation that was just merged in the main branch returns NULL if any of the arguments are NULL.
do we want to k

[2022-04-17 00:57] earney commented on #520
In sqlparser-rs version 0.16, this syntax is supported:

ql: "show indexes from mytable"
AST: [ShowVariable { variable: [Ident { value: "indexes", quote_style: None }, Ident { value: "from", quote_style: None }, Ident { value: "mytable", quote_style: None }] }]

[2022-04-17 06:46] panarch commented on #526
I'm for your idea about having different behaviors between `||` and `CONCAT`.
Then, users can choose either of these depending on their needs.

### `||`
* binary operator
* operation between `NULL` returns `NULL`
* converting any non-`Value::Str` value to `Value::Str` and concat

### `CONCAT`
* accepts 1~N params
* Ignore `NULL` and concat
* converting any non-`Value::Str` value to `Value::Str` an

[2022-04-17 07:16] panarch commented on #129
This is the independent issue which is related to `Index` store trait.
It is already being provided but current index planner is quite primitive at this point.

[2022-04-18 08:51] devgony opened #528 "Scalar subquery should throw Error when more than one row returned"
## Currently Scalar subquery does not throw Error when more than one row returned.

### Test
[code]
### Expected
[code]
### Actual
[code]

[2022-04-19 23:10] earney commented on #514
![image](https://user-images.githubusercontent.com/1158898/164115907-6feb4c3b-f242-4fcd-b5dc-97a717e08369.png)

[2022-04-20 18:53] ghost opened #531 "add ability to union two select statements together"
Add the capability to union two select statements together:

[code]

[2022-04-21 05:11] KyGost commented on #514
It seems to me (without good backing) like these closures might be a pretty notable issue. Perhaps it could be done a better way.
https://github.com/gluesql/gluesql/blob/1cdcef9759f9d8cfeb208dc5b22d51ad6f63a1f8/core/src/executor/evaluate/mod.rs#L34-L39

[2022-04-21 05:17] KyGost commented on #514
Hmm... Does the perf test look similar with something like:
[code]

[2022-04-21 13:51] earney commented on #475
Show columns from table has been implemented.  Can we close this issue or is there still something this issue addresses that is not fixed yet?

[2022-04-21 13:56] ever0de commented on #475
resolved #517

Thanks @earney

If you register this function at the beginning of PR conversation, it will be closed automatically.
Can you check it out?
ex) resolved #517

- <https://stackoverflow.com/questions/12235620/automatically-closing-issue-from-pull-request-in-github>
- <https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-reque

[2022-04-21 13:58] ever0de commented on #480
I think that's a good opinion. +1
It would be nice to add it like storages in the cargo workspace.
- `ext-libs/*`

[2022-04-21 14:03] ever0de commented on #129
If you receive a parameter that implements the RequiredColumns trait, it seems to have an effect similar to this.
`async fn scan_data(&self, table_name: AsRef<&str>, dyn_trait_object: &dyn TraitName`

[2022-04-21 14:08] earney commented on #129
I've decided to read (and watch) the Rust Lang Book so I know the Rust concepts and jargon a bit better.  https://www.youtube.com/playlist?list=PLai5B987bZ9CoVR-QEIN9foz4QCJ0H2Y8

[2022-04-21 14:09] ever0de commented on #129
I think it's good.
If you need material in any category, please request it.
Let's find it together.

ex) https://doc.rust-lang.org/book/

[2022-04-21 14:13] earney commented on #129
Awesome!! Thanks..   I've got about 30 years programming experience, so I just need to learn the Rust way of doing things, thats all.

[2022-04-21 14:22] ever0de opened #532 "[CSVStorage] Implement storage that supports CSV"
You have a separate schema file, which will probably be a file with the SQL extension.
ex) `{table_name}.schema.sql`
We read it in and create a table.

Then, when scan data, schema validation is performed. (Wouldn't it be enough to verify only on the first run?)

[2022-04-21 14:57] earney commented on #532
sqlparser-rs probably supports mysql load data statement:
https://dev.mysql.com/doc/refman/8.0/en/load-data.html

I know this is not 100% of what you are asking for. and yes you are correct, it would be cool to implement something that would take a schema.sql file and create table sql for it..

[2022-04-21 15:04] earney commented on #532
You mean something like:

`Create table temp (...) from file "table.schema.sql"`

If so, I'm not sure what would need to be done to sqlparser-rs to get it to work with this syntax.  From what I've read sqlparser-rs has a dialect functionality which may allow this type of custom sql.

[2022-04-21 15:07] ever0de commented on #532
It would be nice to be able to read text as AST without using sqlparser-rs when reading text.
How about this?

It would look a lot better if you could use the LOAD DATA syntax.

Note that this issue is at the idea generation stage.

[2022-04-21 15:15] earney commented on #532
I also like the idea of just dragging and dropping the tablename.schema.sql and tablename.csv into a directory and gluesql just picking it up and making it available automatically.

[2022-04-21 15:40] earney commented on #525
Do you think it would be better to upgrade one version of sqlparser-rs  from v13 to v14 then from v14 to v15 and then v15 to v16 or just do a jump from v13 to v16?

I did try to modify the Cargo.toml from v13 to v16, and yes, there are a bunch of changes.

[2022-04-21 16:24] ever0de commented on #525
you're right.
It would be rather easy to go up step by step.
It would be good to think of this as a goal.

[2022-04-21 16:27] ever0de commented on #532
Wow, it's also interesting.

Perhaps this means `filename.schema.csv` `filename.schema.sql` ? Or are you referring to the schema file in csv format?

[2022-04-21 16:29] panarch commented on #532
Oh that was not intended.
As you mentioned, filename.schema.sql would be better :)

[2022-04-22 08:53] raindust opened #533 ""fetch failed - expired transaction has used (txid)" error after sled import"
I want to migrate data from an existing gluesql database using sled inner function `export` and `import`, but after imported even a query operation will throw "fetch failed - expired transaction has used (txid)" error.

The following is a simple example inspired by unit test sled_transaction_gc in "sled_transaction.rs":
[code]

The `txid` after imported does not sync as desired. So is there anythi

[2022-04-22 18:10] panarch commented on #533
Thanks! I checked and found what causes this error.
GlueSQL's SledStorage depends on [sled::generate_id](https://docs.rs/sled/latest/sled/struct.Db.html#method.generate_id) to generate unique id for internal uses (data keys, transaction keys, etc...)
`generate_id` guarantees unique id generation. However, this looks that id counter does not migrate when `sled::export` and `sled::import`.
`sled::ex

[2022-04-22 18:27] earney commented on #514
Here's the perf report after I changed to the select 1 query above:
![image](https://user-images.githubusercontent.com/1158898/164773202-674a92ca-a5ba-4a75-a0a9-3c6452cff65a.png)

[2022-04-22 21:59] earney commented on #424
I'll take this issue. It should be pretty easy to make these changes.

[2022-04-23 05:44] panarch commented on #528
This looks.. somewhere between bug and improvement.

[2022-04-25 11:10] devgony opened #538 "fix: DROP INDEX clause got panicked"
### At GlueSQL Cli with sled_storage,  DROP INDEX clause looks like getting panicked.

[code]

[2022-04-25 11:13] devgony commented on #538
I just realized that it should be.
[code]
Should we add Error: `Should specify [TABLE_NAME].[INDEX_NAME]`?

[2022-04-25 11:22] panarch commented on #538
Oh, good catch! Thanks 👍
Yup it should return error, not panic.

[2022-04-26 04:46] KyGost commented on #514
Yeah so looks to me as though the closures are a problem and occur for all sorts of evals, which is a problem for grouping, and is used in aggregation, which is a big problem.

This could probably easily be fixed by just changing these high-use closures into functions (or, if desperate, macros).

[2022-04-26 04:47] KyGost commented on #514
@panarch

Probably an area with some really easy fixes that would massively boost perf.

[2022-04-26 04:57] #424 closed

[2022-04-26 11:31] #528 closed

[2022-04-26 19:06] earney opened #540 "Overflow Error enum improvements"
Ever0de suggested that we change Error::OverflowError("%".to_string())  to something that doesn't have a string..  Maybe...

BinaryOperationOverflowError with message similar to: Overflow error (lhs operator rhs).

[2022-04-26 19:44] earney commented on #540
I can work on this..

[2022-04-28 22:42] earney commented on #526
The last merge implements this issue..

[2022-04-28 22:44] earney commented on #201
This has been implemented in PR #521.  Can we close this issue?

[2022-04-29 04:24] #526 closed

[2022-04-29 04:24] #201 closed

[2022-05-01 14:29] #489 closed

[2022-05-02 14:22] earney opened #545 "Adding unsigned ints and signed ints together (ie overflow issues)"
### Discussed in https://github.com/gluesql/gluesql/discussions/544

<div type='discussions-op-text'>

<sup>Originally posted by **earney** May  2, 2022</sup>
sqlparser-rs version 16, has the capability to have unsigned integers.   I'm wondering how we want to address arithmetic operations between signed and unsigned numbers?   Or maybe a better question is how do we address out of range and overf

[2022-05-02 14:24] earney commented on #545
I decided to convert this discussion into an issue because I ran into the following which I think should raise an error (overflow error):

[code]
Note that the value 127 is inserted into the table instead of 255.  127 is the maximum allowed value for an int(8) (i8).   Should an error be printed to the screen when we do the insert statement above?

[2022-05-02 17:47] earney commented on #545
So, just to make sure I understand what you are proposing...
lets look at the example I gave before:
let x:i8
let y:u8.
promote these two to an i64 and do the math::
let z:i64 = (x as i64) + (y as i64)
then try to demote z like so:
let z:i8 = i8::try_from(z)
match z.is_ok() {
     true => (return) Ok(I8(z.unwrap()))
     false => Err(ValueError::BinaryOperationOverflow {
                        lh

[2022-05-07 06:44] #533 closed

[2022-05-07 14:40] jrmuizel opened #549 "JSON type and functions"
[sqlite has these](https://www.sqlite.org/json1.html) so it might be nice to have in glusql too

[2022-05-08 12:59] panarch commented on #549
There is a plan to provide better semi-structured and even unstructured data in several months.
For now, some limited functions are supported. You can use `MAP` and `LIST` data types.

e.g. two data types:
- [MAP examples](https://github.com/gluesql/gluesql/blob/main/test-suite/src/data_type/map.rs)
- [LIST examples](https://github.com/gluesql/gluesql/blob/main/test-suite/src/data_type/list.rs)

[2022-05-14 03:13] earney commented on #525
I believe this issue has been resolved.

[2022-05-14 03:24] panarch commented on #525
@earney Thanks!

[2022-05-14 03:24] #525 closed

[2022-05-16 11:59] MRGRAVITY817 opened #555 "Simplify repetitive `#[derive(Debug, Clone, PartialEq, ...)]`macros by adding proc-macro subcrate."
# Problem and Suggestion
![image](https://user-images.githubusercontent.com/41038636/168586029-ca5fdde6-e2c9-4ace-a0ba-32b37f086078.png)
I see repetitive use of `#derive(Debug, Clone, PartialEq, Eq, Hash, Serialize, Deserialize)]` across several `struct`s in `gluesql-core`. I came up with an idea to simplify this using proc macro.
[code]
For few `struct` that needs extra `Display` trait in derive

[2022-05-16 15:18] ever0de commented on #540
thanks

[2022-05-16 15:18] #540 closed

[2022-05-17 12:49] panarch commented on #555
Idea is really good, I also read the draft codes but there's some points we need to consider.
It would be great if we can declare what to assign in the `gluesql-core` workspace, not in the new crate `gluesql-pm`.
Currently, `gluesql-pm` exists as a separate crate but it is strongly dependent to `gluesql-core`.
Then, though `basic_derives` approach can reduce some amount of codes but it can also ma

[2022-05-17 13:37] MRGRAVITY817 commented on #555
I get your point. I have also seen that `serde` and `diesel` crate also create a **subcrate within subcrate** for providing proc-macros for specific workspace. So I should definitely rename the `gluesql-pm` to `basic-derive-macro` and move in to `gluesql-core`.

About the problem that user might get confused for realizing the role of `#[basic_derives]`, I think giving a documented comment `/// exp

[2022-05-18 04:47] MRGRAVITY817 opened #560 "Publish`@types/gluesql` along `gluesql-js` for Typescript users"
## Adding typings for `gluesql-js`
As a Typescript fan, it would be nice to use gluesql in Typescript project.
I know it's still kinda early to discuss about this, but worth mention it.

[2022-05-19 00:51] earney commented on #430
I believe this issue has been resolved...  see PR #529

[2022-05-19 04:26] panarch commented on #430
Thanks 👍 closing this

[2022-05-19 04:26] #430 closed

[2022-05-20 13:40] panarch commented on #483
Now there is a plan to remove `T` at all when adding primary key support. (will replace `T` to use `data::Key`)
Due to this change, neither generic or associated type is needed for Store traits.

[2022-05-20 13:40] #483 closed

[2022-05-20 22:45] earney commented on #427
I believe this has been resolvedi in PR #530, which has been merged.  Can we close this issue?

[2022-05-21 00:38] earney commented on #423
This issue is also discussed in issue #151

[2022-05-22 02:16] ever0de opened #568 "Add test code ahead of time using `#[ignore]`"
If you add a test code template in advance, it is easier to work with additional functions.

Adding test cases seems to be a better phenomenon because you can easily add them by referring to other templates.
And anyone can do test-driven development.

One topic PR will be split into two PRs due to this issue.
1. Add test cases
2. Feature implementation

[2022-05-23 13:45] earney opened #570 "Too Many Tables error"
[code]
The select statement is valid SQL.  The error occurs in the translate_select which is located in the translate_query.rs file.
One question..  Should we create a new file called something like translate_select.rs that will take SqlSelect struct and produce something we can work with, or should we just expand the translate_select function?   I am thinking the general solution to this problem

[2022-05-23 16:08] #538 closed

[2022-05-25 09:51] ide127 opened #574 "error: could not compile `gluesql-test-suite`"
Hi, i am a student for rust and gluesql. When i use 'cargo build', the error is come up.
<img width="1601" alt="스크린샷 2022-05-25 18 46 53" src="https://user-images.githubusercontent.com/25126457/170233893-d614b46d-ef6d-4d2b-a27a-5a2549b9da8f.png">

macOS Monterey 12.4
apple M1 pro
ubuntu 18.04 LTS

I am sorry for that my little development skill.

[2022-05-25 14:30] earney commented on #574
could you type the commands below and see if it helps?
cargo clean
cargo build

[2022-05-25 14:51] panarch commented on #570
There is a good keyword for this issue - supporting implicit inner join syntax

ref. https://stackoverflow.com/questions/44917/explicit-vs-implicit-sql-joins

[code]
Currently GlueSQL only supports explicit inner join
[code]

btw. it would be better to have different error name.
[code]
to
[code]

[2022-05-26 09:06] ide127 commented on #574
<img width="555" alt="스크린샷 2022-05-26 18 05 33" src="https://user-images.githubusercontent.com/25126457/170456313-c9132147-1ecc-4690-a3d1-be179e20e876.png">
I tried out cargo clean and build. However.
The error, "error: could not compile `gluesql-test-suite`is remain.
I want to know what went wrong.
Can I extract some infomation would help me to solve from that long long CAUSEDBY clues?

Tha

[2022-05-26 23:45] earney commented on #574
run cargo version and see what version you have..

[2022-05-26 23:49] ide127 commented on #574
cargo 1.61.0 (a028ae4 2022-04-29)

I'm sorry for forget that..

[2022-05-28 03:28] ever0de commented on #574
hello. Could you please leave the error message log as text?
It would be better if you write a markdown code block.
ref: <https://www.markdownguide.org/extended-syntax/#fenced-code-blocks>

[2022-05-28 23:08] earney opened #579 "sum panics on overflow.."
[code]

[2022-05-28 23:17] earney commented on #579
I assume if we get an overflow, we need to try to upcast it to the next largest supported data type (I8 to I64) before throwing an overflow?
I8(100) + I8(50) => I8(150)  (overflow) vs
I8(100 + I8(50) => I64(150)    **** right answer.. (no overflow).

[2022-05-28 23:40] earney commented on #579
modifying try_add like so, seems to fix the issue:

[code]

[2022-05-29 05:45] ever0de commented on #579
I think we need a discussion about which type to cast to.

[2022-05-29 05:53] ever0de commented on #427
Thanks

[2022-05-29 05:53] #427 closed

[2022-05-29 07:34] MRGRAVITY817 opened #581 "Doesn't catch out ambiguous column selection error in joined tables"
## Should omit error for selecting ambiguous column
Currently gluesql doesn't omit error for selecting ambiguous column in joined tables.
![image](https://user-images.githubusercontent.com/41038636/170857087-a912397f-6940-4401-966e-f82d19224fd9.png)
...while it should be like below which is `psql`'s output
![image](https://user-images.githubusercontent.com/41038636/170857314-5c165ff2-bb3d-4d9b-880

[2022-05-29 08:05] ever0de opened #582 "Replace code coverage tool from `tarpaulin` to `grcov`"
<https://github.com/mozilla/grcov>

<https://blog.rust-lang.org/2022/04/07/Rust-1.60.0.html#source-based-code-coverage>

[2022-05-29 14:24] earney commented on #582
Here's an example: [](https://ci-artifacts.diem.com/coverage/unit-coverage/latest/index.html)

[2022-05-29 15:07] earney commented on #579
I agree..   I also plan on implementing i32 (after the i128 PR is merged), so we could cast it to an i32 instead if that is what people want.

As everyone knows, we could also reach the same limits for other data types, i64 for example.  If checked_add returns None, we could auto promote to the next largest data type.  This makes sense to me.
What do other think?   If we implement this, each time

[2022-05-30 13:09] #555 closed

[2022-06-01 14:36] earney commented on #520
PR #554  adds a third column to the output (displays expression used to define the index).  Once that PR is merged, this issue can be closed.

[2022-06-01 14:38] ghost opened #592 "Closing database properly.."
We know how to open a database by looking at the provided examples:

[code]
But I am failing to find examples of how to close the database once we are done.  What is the proper way of doing that?

[2022-06-01 14:59] earney commented on #592
The reason I ask, is because I'm creating a few tables with several MB of data, and then running a few queries off it them.  After the queries finish, the process has the disk drive pegged out, and the process just sits there.  I am not sure what the process is doing (it should have ended.).  I wonder if properly closing the database could shed some light on what is going on.

[2022-06-02 02:35] ever0de commented on #592
This is probably done by closing the database when storage variable is [`Drop`](https://doc.rust-lang.org/stable/std/ops/trait.Drop.html), or adding a user interface like `close`.
But adding this to 'Glue' is another story.

By 'Proper way' do you mean how to properly close 'SledStorage'?

[2022-06-02 20:36] earney commented on #592
What I meant by proper way, is that when the program ends, I know that the database is closed implicitly, but is there a way to close the database ourselves?   should we close the database and the storage or is just closing just one enough?

the program that I was referring to at the top was still running over one hour after the query portion was completed.  I would have expected the program to te

[2022-06-03 21:21] ghost opened #593 "support Rand() function"
support the rand() function (random).  optional parameter seed.
see
[https://www.w3schools.com/sql/func_mysql_rand.asp](https://www.w3schools.com/sql/func_mysql_rand.asp)

[2022-06-03 21:22] earney commented on #593
I can look into implementing this.

[2022-06-03 21:36] earney commented on #593
One issue I see with this.  And it is probably because of my lack of understanding Rust.
We will need to create a global variable to hold the random instance so that after we get the seed, we can call the random instance and get the same list of numbers for each run.  What do you guys recommend we do?  Can someone suggest how/where to create the random instance variable so it can be used when RAND

[2022-06-04 22:57] earney commented on #593
PR #595 implements this request.

[2022-06-05 06:55] MRGRAVITY817 opened #596 "Support composite type using `CREATE TYPE`"
## Support composite type using `CREATE TYPE`
Creating a column that takes a custom composite type can be useful. It's like saving a tuple-typed data.
## Example
[code]
## Reference
https://www.postgresql.org/docs/9.6/rowtypes.html

[2022-06-05 10:59] ever0de commented on #524
can I close it? @Raj2032

[2022-06-05 11:11] ever0de commented on #381
It seems to be closed by <https://github.com/gluesql/gluesql/pull/379/commits/b824b89045a522ed23911a1918ad5ae3b123d3ff>.

[2022-06-05 11:13] ever0de commented on #258
Killed by <https://github.com/gluesql/gluesql/pull/562>

@ming535  thank you for your contribution

[2022-06-05 11:13] #258 closed

[2022-06-05 11:15] ever0de commented on #130
It seems that BYTEA, which has a different name but performs the same function, is implemented as <https://github.com/gluesql/gluesql/pull/586>.

How about closing issue?

[2022-06-05 11:23] #524 closed

[2022-06-06 09:57] #493 closed

[2022-06-06 16:54] earney commented on #592
I've tried running the same code on another windows based machine, and after the queries are executed on the database, the disk pegs out, while the cpu is near 0% (< 5%).  So maybe this is a Windows OS issue?

[2022-06-09 10:45] raindust opened #601 "Can we make `Payload` derive from `Deserialize` trait?"
Current `Payload` struct defines like the following:

[code]

We can see that it derives the `Serialize` trait from serde, so we can serialize to a buffer. But if we transfer the buffer to another place, we can't deserialize it into the `Payload` struct (by which we can analyze data defined in `Payload`, such as query select rows in `Payload::Select`).

[2022-06-12 03:50] Raj2032 opened #602 "Some questions regarding gluesql"
Hi guys, I have some questions regarding gluesql.

1. Does it support primary key and foreign key?
2. Can you open up multiple Databases at the same time?

[2022-06-12 04:12] raindust opened #603 ""fetch failed - expired transaction has used (txid)" error if export & import multi-times"
@panarch has done a great job about implementing export & import about SledStorage in https://github.com/gluesql/gluesql/pull/547 , it works well if export and import at the first time, but if export & import multi-times there will be a "fetch failed - expired transaction has used (txid)" error throwed.

The following unit test derived from https://github.com/gluesql/gluesql/blob/main/storages/sle

[2022-06-12 05:00] ever0de commented on #602
Hi @Raj2032

Not yet supported.
Primary Key will be supported soon.

It's possible to use. As long as you borrow the `sqls` variable from the example code you wrote, it will work.

[2022-06-12 05:04] Raj2032 commented on #602
@ever0de Hi mate thanks for your response :)

Good to know :)

Oh for example like:

[code]

Like this?

[2022-06-12 05:08] ever0de commented on #602
Yes that's right

[2022-06-12 05:14] Raj2032 commented on #602
@ever0de Ah right thanks mate, I have one more question:

[code]

What if the `data/doc-db` file already exists, how would I determine if it exists or not and if it does exist, then to connect to it?

[2022-06-12 05:24] ever0de commented on #602
@Raj2032 The example state you sent is compatible with the existing database.

[2022-06-12 05:27] Raj2032 commented on #602
@ever0de Ah right thanks mate :)

[2022-06-12 06:03] Raj2032 opened #604 ""error[E0433]: failed to resolve: use of undeclared type `SledStorage`" Issue"
So I have a very simple code:

[code]

And in my `Cargo.toml` file this is my stuff in it:

[code]

So when I run a `cargo run` this is the error I get (after it compiles and stuff):

[code]

Not sure why this is happening?

[2022-06-12 06:05] ever0de commented on #604
It's not a bug.

excerpt from root workspace
`sled-storage = { package = "gluesql_sled_storage", path = "./storages/sled-storage", version = "0.11.0", optional = true }`

Since sled-storage is also optional, it is classified as a feature.
Do not enable the `sled-storage` feature or turn off default-features .

[2022-06-12 06:18] Raj2032 commented on #604
@ever0de How would I use the `sled-storage` feature though?

[2022-06-12 06:20] ever0de commented on #604
example `Cargo.toml`

[code]

Would you like to add this and test it?

[2022-06-12 06:48] Raj2032 commented on #604
@ever0de Ok it seems to work but would it still work sled storage?

[2022-06-12 06:50] ever0de commented on #604
sorry. I didn't quite understand the above.

You want to ask if `sled storage` is working?

[2022-06-12 06:51] Raj2032 commented on #604
@ever0de

Yes mate. Would it work cause I can't find the `test_db` file in my file path?

[2022-06-12 06:53] ever0de commented on #604
yes it works

Result of execution when `test_db` path does not exist
[code]

If path points to a non-existent file, `sled` will create a new one.

[2022-06-12 09:07] Raj2032 commented on #604
@ever0de Sorry my mistake I was looking at the wrong project folder, yeah I see it now thanks mate :)

[2022-06-12 09:16] Raj2032 commented on #604
@ever0de Hey bro sorry to bother you again.

I just wanted to ask something

[code]

I wanted to know what datatype is `glue` exactly?

I mean I know it is `Glue<IVec, SledStorage>` but

![image](https://user-images.githubusercontent.com/29293830/173226286-7d7f2b59-5705-44e6-88f8-b545961f1e9c.png)

I am trying to actually put this in a structure and like yeah I get an error so what is the full nam

[2022-06-12 16:05] ever0de commented on #604
`IVec` This is a struct in sled, not a struct in std.
<https://docs.rs/sled/latest/sled/struct.IVec.html>
Add `use gluesql::sled_storage::sled::IVec`

[2022-06-13 04:37] Raj2032 commented on #604
@ever0de Thanks mate it works :)

[2022-06-13 04:54] Raj2032 commented on #604
@ever0de Sorry mate another question.

I want to be able to determine if either the database folder already exists or not or to determine if a table already exists or not. Because if the user is using my software for the first time I want to know if the user already saved some item, then I would be retrieving them.

If I did a `SELECT` statement to a table that doesn't exist, would this still work

[2022-06-13 11:45] #581 closed

[2022-06-14 13:19] ever0de commented on #604
It doesn't kill the program at the library level. It just emits an Error during Result in the return value of execute.

simple example)
[code]

[2022-06-14 13:27] #603 closed

[2022-06-14 13:29] #601 closed

[2022-06-18 09:41] zmrdltl opened #609 "Support `STDEV` aggregate function"
last PR : https://github.com/gluesql/gluesql/pull/598
ref : https://www.ibm.com/docs/ko/db2/11.1?topic=functions-stddev

The standard deviation is the square root of the variance. Because of this, the following happens: What should I do?
![image](https://user-images.githubusercontent.com/22141521/174432087-2ce428a9-e378-4437-8bea-2ebabd08a74a.png)

We need a way to represent an infinite decimal po

[2022-06-19 13:16] Raj2032 opened #610 "Suggestion: Use commands instead of &str to execute commands"
Hey guys, I have been using gluesql for a while and I wanted to suggest improvements to it.

In your example:
[code]

While this is great for basic stuff, I wanted to suggest a more cleaner alternative.

Here is my suggestion to use commands to execute stuff such as `select` etc etc. Here is my example (this is pseudo code):
[code]

Unless if there was a way to do this already?

[2022-06-20 11:57] panarch commented on #610
Currently, the only interface you can use is SQL text.
However, there is a good news.
We are planning to add GlueSQL's own query builder so you will be able to use .. not soon but not too late.
Until this year, you will be able to see some visible working example of the new query builder.

[2022-06-20 12:10] Raj2032 commented on #610
@panarch Hey mate thanks for your response :)

Sorry mate but what is a query builder? Is it similar to the example I have provided?

Can I have a pseudo code example please?

[2022-06-20 12:51] panarch commented on #610
@Raj2032 Sure,
[`sea-query`](https://github.com/SeaQL/sea-query) would be a good example.
You can expect similar feature like SeaQuery.
Differences are... SeaQuery is for supporting multiple SQL databases using same query interface.
In the case of the query builder which GlueSQL plans to make is only for us, GlueSQL.
It is designed to use full functionality of what GlueSQL provides.

Pros - Query

[2022-06-20 12:58] Raj2032 commented on #610
@panarch If I understood you correctly, the gluesql query would be similar to sea:

[code]

[2022-06-20 13:41] panarch commented on #610
Yes similar but method names and detailed usage would be quite different.
I'll share the draft in the public soon
also thanks for the question. this helps us to decide priority between issues.

[2022-06-20 15:30] panarch commented on #384
Thanks to @earney
resolved in #608

[2022-06-20 15:30] #384 closed

[2022-06-20 15:32] #320 closed

[2022-07-07 13:30] 24seconds opened #614 "[AST Builder] Implement Lower function"
## Description

### Background
[`ast_builder`](https://github.com/gluesql/gluesql/blob/e8323b878851098ad6d2202427ba84b4b7d821ef/core/src/ast_builder/mod.rs) module is usually used to support `query builder`. For example, instead of typing hard coded string, we can write SQL statement using `ast_builder` module's functions.

For example, we can build SQL statement using `table`, `select` and `build

[2022-07-07 13:30] 24seconds commented on #614
cc: @panarch

[2022-07-08 14:34] yujong-lee opened #615 "Implement FLOOR function"
# Background
This is well described in #614.

# Task
Support [`FLOOR` function](https://www.w3schools.com/sql/trysqlserver.asp?filename=trysql_func_sqlserver_floor).

To do this, test case below should pass.

[code]

[2022-07-08 16:07] ChobobDev opened #617 "[AST Builder] Implement Upper function"
# Backgroud

The following issue is a follow-up issue of #614.

# Task

The following issue is to implement the `Upper` function in `ast_builder` module to support the `Upper` function in the query builder.
The following test should pass in order to complete the following task.

[code]

[2022-07-09 05:36] bugoverdose opened #618 "[AST Builder] Implement `ifnull` function"
## Backgroud

The following issue is a follow-up issue of #614.
The point is to make it easy to use SQL function `IFNULL` via method chaining.

## Task

The following issue is to implement the `ifnull` function in `ast_builder` module to support the `IfNull` function in the query builder.

Following tests should pass in order to complete the following task.

[code]

[2022-07-09 09:31] ever0de opened #619 "Change the implementation of `*Into` to `*From`"
<https://doc.rust-lang.org/stable/std/convert/trait.Into.html>

One should avoid implementing [Into](https://doc.rust-lang.org/stable/std/convert/trait.Into.html) and implement [From](https://doc.rust-lang.org/stable/std/convert/trait.From.html) instead. Implementing [From](https://doc.rust-lang.org/stable/std/convert/trait.From.html) automatically provides one with an implementation of [Into](htt

[2022-07-09 09:31] ever0de commented on #619
ex) https://github.com/gluesql/gluesql/blob/0aef013650dd10081d7af123f3b1db49e34d68bb/core/src/data/value/into.rs#L48

[2022-07-09 15:26] ever0de opened #623 "Add Numeric Data Type in `core` workspace"
Issues for tracking purposes

[<https://github.com/gluesql/gluesql/blob/main/core/src/data/value/mod.rs#L24-L43>](https://github.com/gluesql/gluesql/blob/e8323b878851098ad6d2202427ba84b4b7d821ef/core/src/data/value/mod.rs#L24-L43)

## Numeric

### UINT
- [x] `UINT8` #828
- [x] `UINT16` #844
- [x] `UINT32` <https://github.com/gluesql/gluesql/pull/1019>
- [x] `UINT64` <https://github.com/gluesql/glu

[2022-07-09 18:04] #615 closed

[2022-07-10 06:48] nyeong opened #624 "[AST Builder] Implement trigonometric functions"
Implements ast builders for trigonometric functions.

## Backgrounds

Related to #614. We already have [AST nodes about trigonometric functions](https://github.com/gluesql/gluesql/blob/64efec51e3c4f040de9b5393e4be09f2f27ef8c4/core/src/ast/function.rs#L22-L24), so we need AST builders which correspond with that nodes.

## Goals

Implements AST builder functions for ...
- [ ] asin
- [ ] acos
- [ ] a

[2022-07-10 07:18] woojinnn opened #625 "[AST Builder] Implement Left/Right functions"
Implements ast builders for Left/Right functions.

## Backgrounds
Refer issue [!614](https://github.com/gluesql/gluesql/issues/614).

## Task
Implement `Left` and `Right` function in `ast_builder` module so that we can slice a string.
The following tests should be passed:
[code]

[2022-07-10 07:24] #618 closed

[2022-07-10 08:51] MRGRAVITY817 opened #628 "[Discussion] Set `rust-toolchain` file to `stable`"
## Should be set as `stable`, rather than version number
By far we've been making PR for every rust-lang stable release, setting the latest version number.
However this can be cumbersome since the release cycle kinda short.

How about just setting it as `stable`?
Ref: https://github.com/sqlparser-rs/sqlparser-rs/blob/main/rust-toolchain

I'd like to know if this is a good or bad idea.

[2022-07-10 09:34] #522 closed

[2022-07-10 11:26] yugeeklab commented on #614
Can I take this issue?

[2022-07-10 11:30] panarch commented on #614
@yugeeklab I'd recommend you to make another one :D
The first PR might be simple, so the important step all we need to experience is writing the new issue by ourselves.

This would be better for @24seconds to take, but he may leave this for a while for other contributors to refer.

[2022-07-10 11:32] panarch commented on #628
I think the current way that specifying the version number explicitly would fit better for our use cases.
This is mainly because of preventing unexpected Github Action failure on rust clippy.

We are currently applying quite strict rule of clippy which returns error even for warnings.

If we don't specify the exact version number, stable version update can be made during the pull request is open &

[2022-07-10 12:03] ever0de commented on #628
I agree with this.
It would be nice to clarify which version we are implementing.

[2022-07-10 12:13] yujong-lee opened #630 "Add int16 data type"
In #623, `INT(16)` is not implemented yet.

It will be great to finish `INT` data type.

[2022-07-10 12:13] yugeeklab opened #631 "[AST Builder] Implement Concat functions"
# Background

refer this issue #614

# Task

Implement concat function in ast_builder module so that we can concatenate string A and string B.
The following tests should be passed:

[code]

[2022-07-10 12:14] ever0de commented on #630
May I assign you as an issue manager?

[2022-07-10 12:14] yujong-lee commented on #630
@ever0de  Yes.

[2022-07-10 14:37] ever0de commented on #625
ref: <https://github.com/gluesql/gluesql/pull/626>

[2022-07-10 14:37] #625 closed

[2022-07-11 07:50] raindust opened #633 "Number parsing bug with type of `int128`"
If I modify `max_str` and `min_str` with "1701411834604692317316873037158841057287" and "-170141183460469231731687303715884105728", in https://github.com/gluesql/gluesql/blob/main/test-suite/src/data_type/int128.rs#L17-L18 , the unit test passed all the same.  I think it can't parse as int128 rightly, even if I change `max_str` to small numbers like "17014118346046923173168730371588" (that I remov

[2022-07-11 08:12] zmrdltl opened #634 "[AST Builder] Implement Aggregate functions"
## Background
refered #614

## Task
Implement aggregate functions in ast_builder module to use `COUNT, AVG, MIN, VARIANCE, SUM, MAX` funciton
The `SUM` and `MAX` function have already been implemented, so I planned to implement the remaining 4 functions.

The following tests should be passed:
[code]

[2022-07-11 11:12] panarch commented on #631
fyi. In GlueSQL, we have two different concat functions.
one is `||` native binary string concat operator.
the other is `CONCAT` sql function.

The behavior is a bit different.
Using `||`, if either value is `NULL`, then the result is `NULL`.
However, `CONCAT` sql function filters out `NULL` and runs `CONCAT`.
ref.
https://github.com/gluesql/gluesql/blob/36e156e6889206f0753170513bfc2b081e2a08d1/co

[2022-07-11 12:09] panarch commented on #633
What you pointed is right. Currently, to parse the i128 string literal number, we use `bigdecimal::to_primitive::to_i128` but it internally uses `i64` so... it cannot parse `i128`.
To fix this, we need to replace `bigdecimal::to_primitive::to_i128` to something other which can properly parse `i128` or we can also consider to fix `bigdecimal` crate by contributing.

ref. https://github.com/gluesql/

[2022-07-11 16:25] seonghun-dev opened #636 "[AST Builder] Implement Reverse functions"
# Description
Implements ast builders for `Reverse` functions.

## Background
Refered https://github.com/gluesql/gluesql/issues/614

## Task
Implement [`Reverse` function](https://www.w3schools.com/sql/trysqlserver.asp?filename=trysql_func_sqlserver_reverse) in ast_builder module to reverses a string
The following tests should be passed:

[code]

[2022-07-12 10:29] MRGRAVITY817 commented on #628
Thanks for great opinions. That makes sense.

[2022-07-12 10:29] #628 closed

[2022-07-12 10:51] ever0de commented on #630
ref: #632

[2022-07-12 10:51] #630 closed

[2022-07-12 11:22] #617 closed

[2022-07-12 11:51] yujong-lee opened #638 "Update supported feature in README"
https://github.com/gluesql/gluesql/blob/1f0f84d59102b5bda01dad7fefeb84bcc7949d67/README.md?plain=1#L142-L147

This looks outdated. For example, `INT(16), INT(32), INT(64), INT(128)` are missing.

[2022-07-12 11:55] ever0de opened #639 "Add `SharedMemoryStorage` to the src documentation comment"
https://github.com/gluesql/gluesql/blob/1f0f84d59102b5bda01dad7fefeb84bcc7949d67/src/lib.rs#L62-L64

Add `SharedMemoryStorage` to the src documentation comment, and change the github address to the path

[2022-07-13 05:28] yujong-lee opened #640 "Support `IndexedDB` for browser"
# Background

There was `Web SQL` in the past, but it has been deprecated since November 2010. Now there are two storage options for the web. One is `Web Storage` and the other is `Indexed DB`. And the latter is suitable for large, structured data.

`IndexedDB` can store a large amount of data asynchronously.  Also, unlike [sql.js](https://github.com/sql-js/sql.js/), data is persisted and continue

[2022-07-13 11:35] ding-young opened #641 "[AST Builder] Implement Rounding functions"
## Background
refer issue #614

## Task
Implement rounding functions in ast_builder module.
Since `Floor` function has been already implemented, I plan to implement `Round` and `Ceil` fncs.
The following tests should be passed:
[code]

[2022-07-13 13:10] jaeyoung0909 opened #642 "[AST Builder] Implement CEIL function"
# Backgroud
This is motivated from https://github.com/gluesql/gluesql/issues/614.

# Task
It implements ceil function of sql.
The following test should be passed

[code]

[2022-07-13 13:19] #624 closed

[2022-07-13 16:08] kim-seo-hyun commented on #639
Please assign it to me :)

[2022-07-14 05:45] ever0de opened #646 "Group the import statements"
We have rules for grouping import statements.
However, there are some places that are not observed from time to time.
Fix this.

## How?

There is one fine-grained rule in [rustfmt](https://github.com/rust-lang/rustfmt) that lets you fix this all at once.
<https://github.com/rust-lang/rustfmt/blob/master/Configurations.md#imports_granularity>

Last but not least, it's still unstable (need to use n

[2022-07-14 05:46] ever0de commented on #646
![image](https://user-images.githubusercontent.com/27040963/178908739-22d4b0e8-e3db-4ee8-ba6c-077470484986.png)
Areas to which the found rules do not apply

[2022-07-14 07:24] nyeong commented on #619
## Tasks

Implementations to be changed might be:

### core/src/data/value/into.rs
- [ ] 49:`impl TryInto<bool> for &Value { ... }`
- [ ] 116:`impl TryInto<bool> for Value { ... }`
- [ ] 124:`impl TryInto<i8> for &Value { ... }`
- [ ] 159:`impl TryInto<i8> for Value { ... }`
- [ ] 167:`impl TryInto<i16> for Value { ... }`
- [ ] 175:`impl TryInto<i16> for &Value { ... }`
- [ ] 210:`impl TryInto<i32

[2022-07-14 11:17] #638 closed

[2022-07-14 11:43] #634 closed

[2022-07-16 04:41] #636 closed

[2022-07-16 05:19] #582 closed

[2022-07-16 06:03] CEOJINSUNG opened #651 "[AST Builder] Implement Log2, Log10 function"
### Task

Implement log2, log10 functions in ast_builder module.
The following tests should be passed:

[code]

[2022-07-16 06:29] #651 closed

[2022-07-16 07:53] seonghun-dev opened #652 "[AST Builder] Implement Index functions"
# Description
Implements ast builders for [`Index`](https://www.w3schools.com/sql/sql_create_index.asp) functions.

## Background
Refered https://github.com/gluesql/gluesql/issues/614

## Task
In AST Builder module to create, show and delete index easier

- [x] 1. [`create_index`](https://www.w3schools.com/sql/sql_create_index.asp) function
- [x] 2. [`drop_index`](https://www.w3schools.com/sql/sql

[2022-07-16 08:55] 24seconds commented on #633
[Progress Update]
I wrote a pr in [bigdecimal-rs](https://github.com/akubera/bigdecimal-rs).

[2022-07-17 15:55] #641 closed

[2022-07-19 15:24] #417 closed

[2022-07-21 16:29] ever0de opened #660 "Implement `Function::Custom` for custom storage developer"
We found a need to easily create custom functions in the references below.
- <https://github.com/KOBA789/gh-sql/issues/12>

Function parsing in `sqlparser-rs` crate is already supported now.
https://github.com/sqlparser-rs/sqlparser-rs/blob/f74753436a57c961a17863168b84056847f88edf/src/ast/mod.rs#L1039-L1044

### Example

If it is a function name that is not supported by `translate`, an error is re

[2022-07-21 16:36] ever0de opened #661 "Implement function that automatically implements the CLI interface for Custom Storage developers"
For custom storage developers, it would be nice to have the ability to automatically implement a basic CLI interface.
The implementation method has not been decided yet.

### References that felt the need to add features

https://github.com/KOBA789/gh-sql/blob/main/src/main.rs#L10-L26

[2022-07-23 02:52] ding-young opened #662 "[AST Builder] Implement Unary Operators"
## Description
Implement `unary operators` (`plus`, `minus`, `not`, `factorial`) in ast_builder

## Background
refer issue #614

## Task
[code]

[2022-07-23 05:35] CEOJINSUNG opened #665 "[AST Builder] Implement extract function"
## Description

Implement `extract` in ast_builder

## Task

[code]

[2022-07-23 05:43] 24seconds opened #667 "Add Assignees automatically when someone creates PR"
## Description

Currently in the gluesql when the PR is created by someone - let say Bob, then gluesql maintainers manually assign the Bob as `Assignees` section - which is quite cumbersome. So it is good to let bot add assignees. I remember there was a github action which exactly supports this.

[2022-07-23 05:48] ever0de commented on #639
The location pointed to is the tests directory, so path cannot be used here.

[2022-07-23 05:56] ever0de opened #668 "Implement all kinds of feature-unit supertrait additions as proc macro"
We are now using `cfg_if` to combine the supertraits of `GStore` and `GStoreMut`.

This seems to clutter the code as the number of features increases.
I think it can be replaced as below by using proc-macro.

## Before

<https://github.com/gluesql/gluesql/blob/3551c6f6e9d395aa3fd884e9230582c430f0f5d7/core/src/store/mod.rs#L32-L62>

### After (Example)

[code]

- expand result

[code]

[2022-07-23 05:58] ever0de commented on #668
ref: <>https://github.com/ever0de/gluesql/tree/proc-macro

[2022-07-23 06:24] garimellasrisudha commented on #667
yes i have idea on this we can do this in settings in codeowners part .
in project setting we can add codeowners and in branch setting we tick that codeowners

[2022-07-23 06:36] 24seconds commented on #667
Ah, thank you for the comment. As I understand what you are talking about is [CODEOWNER](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners). When we set the CODEOWNER then the person who has a responsibility about specified path in CODEOWNER file will be added as reviewer automatically.

What I wa

[2022-07-23 07:03] #639 closed

[2022-07-23 07:17] #665 closed

[2022-07-23 07:22] kim-seo-hyun opened #670 "[AST Builder] Implement cast function"
## Description
implement `cast` in AST_Builder

## Background
refer issue #614

[2022-07-23 07:41] CEOJINSUNG opened #671 "[AST Builder] Implement between expression function"
## Description

Implement `between` and `not_between` in ast_builder

## Task

[code]

[2022-07-23 08:11] ever0de commented on #668
I've corrected the example because adding supertraits is missing. cc. @24seconds

[2022-07-23 09:58] #662 closed

[2022-07-23 10:20] seonghun-dev opened #674 "[AST Builder] Implement `show_index` functions in AST Builder index"
# Description
Implements ast builders for [`SHOW INDEX`](https://dev.mysql.com/doc/refman/5.7/en/show-index.html) Expression.

## Background
Refered https://github.com/gluesql/gluesql/issues/614

## Task
Implement [`show_index`](https://dev.mysql.com/doc/refman/5.7/en/show-index.html)  function in ast_builder module to see index

The following tests should be passed:

[code]

[2022-07-23 10:38] seonghun-dev commented on #674
Merge with Existing Isssue

[2022-07-23 10:38] #674 closed

[2022-07-23 11:32] seonghun-dev opened #676 "[AST Builder] Implement show_columns Expression"
# Description
Implements ast builders for [`SHOW COLUMNS`](https://dev.mysql.com/doc/refman/8.0/en/show-columns.html) Expression.

## Background
Refered https://github.com/gluesql/gluesql/issues/614

## Task
In AST Builder module to `show_columns` Expression to see columns easier

- [x] [`show_columns`](https://dev.mysql.com/doc/refman/8.0/en/show-columns.htm) function

The following tests should

[2022-07-24 08:36] kim-seo-hyun opened #677 "[AST Builder] Implement now function"
## Description
implement `now` in ast_Builder

## Background
refer issue #614

[2022-07-25 10:55] bugoverdose opened #678 "[AST Builder] refactor `ast_builder::expr::binary_op`"
## Background

Clean code is something we should keep pursuing forever.

When I first saw `ast_builder::expr::binary_op`, it was kind of hard to figure out which functionalities were already implemented and which were not. So I first want to cleanse/organize the entire file to make it more readable.

## Task

1. Make the order of `Eq`, `Gt`, etc match the order of `BinaryOperator` at `ast::operato

[2022-07-25 11:03] gimwonbae opened #679 "[AST Builder] Implement `ln` function"
## Description
implement `ln` function in `ast_builder`

## Test to pass

[code]

[2022-07-25 11:47] gimwonbae commented on #667
Can I work on this issue? Kindly assign it to me!

[2022-07-25 13:05] panarch commented on #678
I'm also for this.

However, the second one looks too much considering that each test case has too few info.
It would be little bit hard to recognize all splitted tests, `cargo test` usually runs parallelly and it does not ensure any order.

e.g. So, we can see that `ast_builder::expr::function::tests::function_*` unit tests are mixed with other tests.
After all the `ast_builder::function` impl ar

[2022-07-25 13:10] bugoverdose commented on #678
OK, I think it makes sense to group all the binary operation tests together.
Then how about just reordering the tests inside the `binary_op` test method to match the order at `ast::operator`?

[2022-07-25 13:11] panarch commented on #678
I'm really for this, good improvements to make it I think.

[2022-07-25 13:56] #678 closed

[2022-07-25 15:09] #679 closed

[2022-07-26 09:49] nyeong commented on #619
Suggestion: After changes, no `TryInto` or `Into` traits remain in `data/value/into.rs`. I suggest replacing the file name with `data/value/from.rs`.

[2022-07-26 10:22] ever0de commented on #619
Agree, `from.rs` is fine, but what about `convert` ?
like [std::convert](https://doc.rust-lang.org/stable/std/convert/index.html)

[2022-07-26 13:56] nyeong commented on #619
`convert` sounds better. I'm working with that.

[2022-07-26 13:56] ever0de commented on #619
oh i'll add you to the assignee, thanks

[2022-07-27 10:54] nyeong opened #683 "Integration of `cargo-deny` and `cargo-audit` into GitHub Action"
Integration of `cargo-deny` and `cargo-audit` into GitHub Actions looks good. These crates audit `Cargo.lock` file for crates and tell us what hazards are contained (license, security issues, etc...).

- [cargo-deny]: checks licenses, unmaintained, etc...
- [cargo-audit]: audits `Cargo.lock` files for crates with security vulnerabilities reported to the [RustSec Advisory Database](https://github.c

[2022-07-27 12:11] bugoverdose opened #685 "[AST Builder] Implement all the binary operators except `XOR`"
## Background

Since I cleansed `ast_builder::expr::binary_op` (#678, #681), I want to implement ast builders for `Modulo`, `Like`, `ILike`, `NotLike`, `NotILike`.

The reason I don't want to touch `XOR` yet is because the way sql parser works for XOR was different from my expectations. I talked with @devgony about it and left an [issue](https://github.com/sqlparser-rs/sqlparser-rs/issues/544) at

[2022-07-27 13:01] #619 closed

[2022-07-28 09:46] #685 closed

[2022-07-29 01:30] raindust commented on #633
bigdecimal-rs has been inactive for nearly 1 year, maybe the author doesn't maintain it anymore. I think we should fork this repo, or use another crate instead.

[2022-07-29 02:02] nyeong commented on #683
ex) https://github.com/gluesql/gluesql/issues/633#issuecomment-1198792018

`cargo-deny` and `cargo-audit` are useful to confirm unmaintained crates and help cases like the above.

[2022-07-30 02:35] CEOJINSUNG opened #690 "[AST Builder] Implement InList expression function"
## Description

Implement `in_list` and `not_in_list` in ast_builder

## Task

[code]

[2022-07-30 04:44] #671 closed

[2022-07-30 04:57] seonghun-dev opened #691 "Add `DROP TABLE` multi object test case in integration test"
Ref

Current GlueSQL Support `DROP TABLE` expression can drop multi objects.
But in [Integreation test](https://github.com/gluesql/gluesql/blob/059b0853d7cff64b029ebd60115de4763b9dbbef/test-suite/src/alter/create_table.rs), There are Only one object test.
So add drop multi table test case

[2022-07-30 05:22] seonghun-dev opened #693 "[AST Builder] Implement drop_table Expression"
# Description
Implements ast builders for [`drop_table`](https://www.w3schools.com/sql/sql_drop_table.asp) Expression.

## Background
Refered https://github.com/gluesql/gluesql/issues/614

## Task
In AST Builder module to [`drop_table`](https://www.w3schools.com/sql/sql_drop_table.asp)  Expression to drop table easier

The following tests should be passed:

[code]

[2022-07-30 05:53] kim-seo-hyun opened #694 "[AST Builder] Implement sign function"
## Description
implement `sign` in ast_Builder

## Background
refer issue #614

[2022-07-30 06:01] #609 closed

[2022-07-30 06:03] #677 closed

[2022-07-30 07:22] seonghun-dev opened #696 "[AST Builder] Implement `order_by` expression in ast_builder select"
# Description
Implements [`ORDER BY`](https://www.w3schools.com/sql/sql_orderby.asp) Select ast builders for [`order_by`](https://www.w3schools.com/sql/sql_orderby.asp) Expression.
Support vector only

## Background
Refered https://github.com/gluesql/gluesql/issues/614

## Task

- [ ] Support order_by vector
- [ ] Support In Sub query Expression
- [ ] ~~Support null first~~ >> not support in ast

[2022-07-30 08:38] #693 closed

[2022-07-31 06:51] 24seconds opened #700 "Rust version update - 1.62"
## Description
While doing the #699 , I found that [rust version 1.62 is released](https://blog.rust-lang.org/2022/07/19/Rust-1.62.1.html) recently.

### clippy status
clippy seems to be [released 1.62.0](https://github.com/rust-lang/rust-clippy/releases/tag/rust-1.62.0)

### some clippy warnings
With 1.62 setting, I found some `clippy` warnings. It would be nice to resolve when updating the rust

[2022-08-02 15:04] ding-young opened #703 "[AST Builder] Implement Transaction Statements"
# Description
Implements ast builders for `transaction` statements (`START TRANSACTION`, `COMMIT`, `ROLLBACK`)

## Background
Referred https://github.com/gluesql/gluesql/issues/614

## Task
The following tests should be passed:
[code]

[2022-08-03 12:39] woojinnn commented on #696
I'll devote on it!

[2022-08-03 12:58] ChobobDev commented on #700
As I mentioned before, I will try to solve the following issue.

[2022-08-03 13:16] #691 closed

[2022-08-04 10:17] #652 closed

[2022-08-04 10:22] #690 closed

[2022-08-04 12:09] #676 closed

[2022-08-05 05:06] woojinnn commented on #696
I think `order_by` shouldn't be allowed in Sub query Expression, referring this: [Can I use Order By clause in a subquery](https://stackoverflow.com/questions/34378701/can-i-use-order-by-clause-in-a-subquery)

Personally, I would prefer eliminating `order_by` clauses in subquery in plan/executor layer rather than blocking `order_by` expression in ast_builder level to make the most of the original

[2022-08-06 02:34] seonghun-dev commented on #696
I wrote not clear sentence

- [ ] Support In Sub query Expression

I add Task based on below test
https://github.com/gluesql/gluesql/blob/acb2498734fc1409e174d5b353fbd1c00370633e/test-suite/src/order_by.rs#L111-L146

OrderByExpr support expr, asc. so, we can use below statement
[code]
But, I think this statement is not clear, so i added on task

[2022-08-06 02:54] #703 closed

[2022-08-06 02:56] seonghun-dev opened #710 "Add update set multi object test case in integration test"
Current GlueSQL Support UPDATE expression can set multi objects.
But in [Integreation test](https://github.com/gluesql/gluesql/blob/main/test-suite/src/basic.rs), There are Only one object test.
So add update set multi object test case and divide update test case to other file.

[2022-08-06 06:23] #694 closed

[2022-08-06 06:34] kim-seo-hyun opened #712 "[AST Builder] Implement Insert Statement"
## Description
Implement `insert` statement ast builder

## Background
refer issue #614

## Task
[code]

## Task to Test
[code]

[2022-08-06 06:44] ding-young opened #713 "[AST Builder] Implement create_table statement"
## Description
Implement ast_builder `create_table` statement

## Tasks
- [ ] implement basic create table statement
- [ ] block invalid column options (ex. NULL NOT NULL)
- [ ] implement create table as statement (with subquery)

## Issue
referred #614

## Description
Following tests should be passed.
[code]

[2022-08-06 07:59] seonghun-dev opened #714 "[AST Builder] Implement update expression"
# Description
Implements ast builders for [`update`](https://www.w3schools.com/sql/sql_create_index.asp) Expression.

## Background
Refered https://github.com/gluesql/gluesql/issues/614

## Task
In AST Builder module to create, show and delete index easier

- [x] 1. [`Update`](https://www.w3schools.com/sql/sql_update.asp) expression
- [x] 2. [`Assignment`](https://www.w3schools.com/sql/sql_create_